[2016-02-03 13:10] michellemoine opened #195 "Highlight Features issues in Chrome and Firefox"
Highlighting a polygon will have a bad effect on another layer. In this case the red dots will be hidden behind the highlighted polygon
Please check this with Chrome or Firefox:
http://bassinefe-liege.be/qgis2web_canvasextent
Internet Explorer 11 seems to be doing a better job.

[2016-02-03 13:21] tomchadwin commented on #195
Can you try removing line 51 of `index.html`:

`highlightLayer.bringToFront();`

I've always wondered whether that should be there.

[2016-02-03 13:32] michellemoine commented on #195
Thanks Tom. It's fine now

[2016-02-03 13:33] tomchadwin commented on #195
OK, let me fix that in the plugin.

[2016-02-03 13:39] tomchadwin commented on #195
Fixed in master - that line should no longer be present, so it should work straight from export. If anyone sees any unwanted side effects of this, do report them.

[2016-02-03 13:39] #195 closed

[2016-02-03 14:06] tomchadwin commented on #192
Also affected Chrome/FF, as per #195. Fixed in master.

[2016-02-03 21:52] michellemoine opened #196 "Failed to load resource: the server responded with a status of 404 (Not Found)"
Tom,
Could you please check this link:
http://k4r573n.github.io/leaflet-control-osm-geocoder/Control.OSMGeocoder.css%22

[2016-02-03 22:59] tomchadwin commented on #196
That final %22 shouldn't be there. Manually delete it and let us know if that fixes it. If so, I'll find out how it got there, and fix the issue.

[2016-02-03 23:05] tomchadwin commented on #196
I think I've fixed this in master. Can you let us know?

[2016-02-03 23:05] #196 closed

[2016-02-04 09:13] michellemoine commented on #196
Thanks Tom.

[2016-02-04 10:30] michellemoine opened #197 "Clustering layer points: Layer is not displayed in the layer list"
http://bassinefe-liege.be/qgis2web_cluster

[2016-02-04 12:49] tomchadwin commented on #197
Confirmed. Looking into it now.

[2016-02-04 12:50] tomchadwin commented on #197
Obviously, if I can work out how to fix this, the icon will reflect the unclustered style.

[2016-02-04 13:06] tomchadwin commented on #197
Fixed in master - please test.

[2016-02-04 13:06] #197 closed

[2016-02-04 13:22] michellemoine commented on #197
Thanks Tom. It's working now.

[2016-02-04 13:24] tomchadwin commented on #197
Thanks so much for this and all the other incredibly precise and useful bug reports and fix tests @michellemoine. Very, very much appreciated. It's made a real difference to the plugin, and couldn't have happened at a better time, immediately before 1.0.0.

[2016-02-04 13:29] michellemoine commented on #197
Thanks to you helping me shaping up my project. I still have another issue that I'll open another one for it.

[2016-02-04 13:30] tomchadwin commented on #197
Keep 'em coming...

[2016-02-04 13:43] michellemoine opened #198 "Clustering layer points: checking out and in any layer in the list layer will affect the visiility of the layer points."
http://bassinefe-liege.be/qgis2web_hiddenlayer
There is no issue if the cluster option is off:
http://bassinefe-liege.be/qgis2web

[2016-02-04 13:47] tomchadwin commented on #198
Do you mean if you uncheck and then check layers in the layers list, the stacking order of clustered layers is changed?

[2016-02-04 13:49] michellemoine commented on #198
Yes. Checking out and in any layer will affect only the red point layer. Clustered points are not affected.

[2016-02-04 14:00] Kluichnikov opened #199 "Setting project title or layer name in Russian"
Hi. I have recently opened for myself Qgis2web. It's a great thing for a common mapper. I like it very much. The only thing I'd like to see in Qgis2web is the ability to use project title or layer name written in Russian. Now I ain't able to use these things in localized version.

For example if I use project title written in Russian I see the [following message (in Leaflet case)](http://pastebin.

[2016-02-04 14:07] tomchadwin commented on #199
I've committed a couple of changes to master. Can you download and test? They might have fixed your immediate issues, but more internationalization errors are probably still present.

[2016-02-04 14:36] michellemoine commented on #199
Have the same issue with French characters in layers name. It's fine in OL3.

[2016-02-04 14:37] michellemoine commented on #199
Just avoided special French characters to keep going.

[2016-02-04 14:38] tomchadwin commented on #199
@michellemoine Error still present with current master? Can you paste the error, so I can find which line numbers cause the issue?

[2016-02-04 14:40] Kluichnikov commented on #199
Thank you so much for the fast reply. The only problem for me that I dunno how to install the master version of qgis2web. I tried to find that out by myself but still wasn't able to find the way for installing the master.

[2016-02-04 14:44] michellemoine commented on #199
Here you are:
UnicodeEncodeError: 'ascii' codec can't encode character u'\xe9' in position 14732: ordinal not in range(128)

[2016-02-04 14:44] tomchadwin commented on #199
To install master:

- browse to https://github.com/tomchadwin/qgis2web
- click "Download ZIP", and open the zip file
- copy the contents of `qgis2web-master` to the qgis2web folder in your QGIS plugins folder
- restart QGIS

[2016-02-04 14:44] michellemoine commented on #199
Of course, it only happens if I choose to display the layers list.

[2016-02-04 14:45] tomchadwin commented on #199
@michellemoine Sorry, but I need the whole thing: the line number I need is in one of the error lines above that.

[2016-02-04 14:47] michellemoine commented on #199
Error

qgis2web produced an error:

Traceback (most recent call last):
File "C:/.qgis2/python/plugins\qgis2web\maindialog.py", line 125, in previewMap
MainDialog.previewLeaflet(self)
File "C:/.qgis2/python/plugins\qgis2web\maindialog.py", line 308, in previewLeaflet
visible, cluster, json, params, popup)
File "C:/.qgis2/python/plugins\qgis2web\leafletWriter.py", line 186, in writeLeaflet
matchCRS,

[2016-02-04 14:49] tomchadwin commented on #199
Try current master - line 151 now reads:

[code]

[2016-02-04 14:52] michellemoine commented on #199
I'll download it again

[2016-02-04 14:52] tomchadwin commented on #199
Apologies - my mistake. I hadn't committed. It's up there now.

[2016-02-04 15:01] michellemoine commented on #199
Hers is a caption on the file I have:
with open(outputIndex, 'w') as f_html:
        base = replaceInTemplate(template + ".html", values)
        base = re.sub('\n[\s_]+\n', '\n', base)
        f_html.write(unicode(base))
        f_html.close()

The same error is still showing

[2016-02-04 15:03] Kluichnikov commented on #199
Hi Tom. I see another error message in a separate window when I used the last master version. I used just the project title written in Russian. [Here is a link to an error message](http://pastebin.com/Gc0Uu2ed)

[2016-02-04 15:26] michellemoine commented on #199
Added this to LeafletFileScripts.py

import sys
reload(sys)
sys.setdefaultencoding('utf8')

Seems to work.

[2016-02-04 15:44] tomchadwin commented on #199
Hrm:

http://stackoverflow.com/questions/3828723/why-should-we-not-use-sys-setdefaultencodingutf-8-in-a-py-script

Might have to find another solution.

[2016-02-04 15:55] Axgro12 opened #200 "wms doesn't work"
Hi!
If I add a wms service in Qgis and then I go in Qgis2web nothing is showed in OpenLayers or Leaflet. I tried adding just one layer (the wms) and adding some other layer, but nothing changed.

Thanks for your work!

[2016-02-04 15:59] tomchadwin commented on #199
@michellemoine, can you remove your code, and instead add the following to the beginning of `leafletScriptStrings.py`:

[code]

Must be the first line of the script. If you still have the error, add it to `leafletLayerScripts.py` as well. Can you let us know if it helps?

[2016-02-04 15:59] Kluichnikov commented on #199
Tom, I used the recipe by Michelle helped me. I mean the lines added to LeafletFileScripts.py:

[2016-02-04 16:00] tomchadwin commented on #199
@Kluichnikov See the link above - this is not recommended. Can you try my suggestion above, instead?

[2016-02-04 16:01] Kluichnikov commented on #199
Alright, Tom. I will try your way now.

[2016-02-04 16:09] Kluichnikov commented on #199
I have tried, Tom, you way. And I see the next message:

[2016-02-04 16:11] Kluichnikov commented on #199
I added "# -*- coding: latin-1 -*-" to "leafletScriptStrings.py" file at first. An then to "leafletLayerScripts.py" file also.

[2016-02-04 16:26] tomchadwin commented on #199
I'm not sure how best to solve this. It's possible that adding a second argument to each use of `unicode()` might help:

[code]

If you are able to try that, I'd be grateful.

[2016-02-04 16:32] Kluichnikov commented on #199
Where ought I to search for the use of unicode(), Tom? In "leafletScriptStrings.py" and "leafletLayerScripts.py" files only. Or I ought to search this text in the other py-files also?

[2016-02-04 16:37] tomchadwin commented on #199
It's used in lots of Python files, but I think changing lots of them or all of them at once is a bad idea. I'd try changing the ones listed in the error messages might be worth trying.

[2016-02-04 16:41] Kluichnikov commented on #199
Okay, gotcha. I will only try to make changes in the files mentioned in the error messages. Thank you one more time so much for your help.

[2016-02-04 16:43] tomchadwin commented on #199
Thanks for the offer of helping to solve this one. I do want to warn you that I feel that the problem is much more deep-seated than this, and that this approach will probably not solve it. I just don't know enough about Unicode yet to make definite recommendations.

@akbargumbira, I don't know if you have any observations which could help us on this issue?

[2016-02-04 16:45] tomchadwin commented on #200
You probably need to check the following:

- in what projection is the WMS supplying its data?
- set your QGIS project to that projection
- in qgis2web, check "Match project CRS"

If that does not work (and it might well not), we probably need the address of the WMS in order to help - is it public?

[2016-02-04 17:23] Axgro12 commented on #200
The projecton is WGS84, I set correctly and made all, but it doesn't work.
I think the wms is pubblic: http://www.cartografia.servizirl.it/arcgis/services/wms/ctr_wms/MapServer/WMSServer?request=GetCapabilities&amp

It's a wms from Regione Lombardia (taly)

[2016-02-04 17:36] tomchadwin commented on #200
OK, I've connected to that WMS fine. Which layer have you used?

[2016-02-04 17:38] tomchadwin commented on #200
CTR-DBT works for me, in both Leaflet and OpenLayers3.

[2016-02-04 17:40] Axgro12 commented on #200
It's CTR_DBT Layer,
thank tou for the help

[2016-02-04 18:07] Axgro12 commented on #200
OK, thank you.
I try reinstall plugin or/and Qgis.

If useful, I have Qgis Lyon 2.12.3 and Windows 10

[2016-02-04 18:07] akbargumbira commented on #199
yes, changing system's encoding is not recommended. I will take a look at this

[2016-02-04 18:10] akbargumbira commented on #199
@tomchadwin this was my strategy to support unicode in InaSAFE. You might want to have a look

[2016-02-04 18:17] Kluichnikov commented on #199
@tomchadwin Tom, I tried changing unicode() statements in different files using different combinations. Still I didn't manage to make qgis2web work in case if my file had got the Russian characters inside. So I am ready to give up by now. I do hope you will be able to resolve this issue in the future.

[2016-02-04 19:38] michellemoine commented on #199
Hi Tom,
I've tried your suggestions without success.

[2016-02-04 19:46] akbargumbira commented on #199
I just made a PR here https://github.com/tomchadwin/qgis2web/pull/201. It should fix the problem when exporting layers with accented chars to Leaflet

[2016-02-04 20:48] Axgro12 commented on #200
I did reinstall plugin and qgis. Still don't work, but other wms service work. Don't know what to say

[2016-02-04 21:20] mykolakozyr commented on #168
If you don't mind I join your conversation.
In 1.0.0-RC2 release it is written: "Scale-dependent visibility widget removed from GUI...". Firstly I thought that the plugin started to use it by default, but it seems like it doesn't (or smth is wrong with my layers).
Could you please write if it's going to be added later or not and suggest another options to add this feature.
Thank you in advance

[2016-02-04 21:22] tomchadwin commented on #168
It is meant to use it automatically for any layers which have it set in QGIS. It doesn't work for you?

[2016-02-04 21:26] tomchadwin commented on #199
Many thanks, @akbargumbira! @Kluichnikov, can you get your Russian project and layer names to work now?

[2016-02-04 21:28] mykolakozyr commented on #168
no, I used leaflet and tried both vector and rastr data

[2016-02-04 21:28] tomchadwin commented on #200
I added that WMS server as a new connection, connected to it, and added that layer. I right-clicked that layer, and set the project CRS from the layer. I then exported. I had other layers open in my map. Did your process differ from that in any way?

[2016-02-04 21:30] tomchadwin commented on #168
I'll check it tomorrow. You are setting it in QGIS via Layer > Properties > General?

[2016-02-04 21:31] michellemoine commented on #199
Thank you guys, it's working fine for French.

[2016-02-04 21:52] tomchadwin commented on #199
Splendid. I just need to check there are no other instances of writing text to disk which need to be changed in the same way. For instance, how about layer attribute titles and values? Do they work with non-ASCII characters? It's probably all covered by @akbargumbira's commit, but let me know if you spot anything else.

[2016-02-04 22:06] Axgro12 commented on #200
nope!
I did the same things exactly and still doesn't work. Maybe it's something about my Qgis.
Thanks for the help, I hope I will figure out it someway

[2016-02-04 23:01] michellemoine opened #203 "Leaflet categorized layer - value legend missing"
Layer "Opérateurs"  : symbol markers with different colors.
http://bassinefe-liege.be/qgis2web_categorized

[2016-02-04 23:17] tomchadwin commented on #199
I just realized that my suggestion - the comment at the beginning of the script - specified the wrong encoding: Latin-1 when it should be UTF-8. Never mind - apologies, everyone.

[2016-02-04 23:18] tomchadwin commented on #200
Are you using current master from here on Github, or 1.0.0-RC2?

[2016-02-04 23:19] tomchadwin commented on #203
Opérateurs is categorized in QGIS?

[2016-02-04 23:26] michellemoine commented on #203
Yes it is.

[2016-02-04 23:34] tomchadwin commented on #203
Any javascript errors?

[2016-02-04 23:42] michellemoine commented on #203
No errors Tom.

[2016-02-04 23:47] tomchadwin commented on #203
Can you share the layer?

[2016-02-04 23:49] michellemoine commented on #203
If you mean the link. It's on the on my first post

[2016-02-04 23:51] tomchadwin commented on #203
No, I mean the source layer, so I can try to recreate the problem. Can't think what it is.

[2016-02-04 23:51] tomchadwin commented on #203
Does it fail if it's the only layer in the map?

[2016-02-04 23:53] michellemoine commented on #203
It fails also when it's the only layer on the map.
How can I share the layer Tom ?

[2016-02-04 23:54] tomchadwin commented on #203
Sorry, as well as the layer file, I'd need a style file.

[2016-02-04 23:54] tomchadwin commented on #203
Upload the layer file and saved style file somewhere, or email it to me.

[2016-02-04 23:57] michellemoine commented on #203
Ok. Will do

[2016-02-05 00:19] michellemoine commented on #203
Sent by email.

[2016-02-05 01:03] mykolakozyr commented on #168
It looks like the problem (kind of a problem) was the following (I used Leaflet):
map shows all layers even those which has to be at bigger zooms. However, when I zoom in and zoom out to certain zoom level it "fixes" and then layers apear only when they "have to".
Besides, you should check the correspondence between QGIS scale and zoom level. With OL3 it's OK, but it doesn't work well here. It's n

[2016-02-05 07:45] Kluichnikov commented on #199
@tomchadwin @akbargumbira Good morning, guys. I tried all the ways you proposed here and in the PR #201 but I still ain't able to use qgis2web while using the project title or the layers names written in Russian. I see [the following message.](http://pastebin.com/VNnYx7sB) If I click the "Update preview" button anyway I get [another message](http://pastebin.com/n7PJxas4) in a separate window.

Wha

[2016-02-05 08:27] Axgro12 commented on #200
I used to use 1.0.0-RC2. Now I downloaded the master from here, substituted all files in the plugin folder but no results.

This wms, for example, works: http://wms.pcn.minambiente.it/ogc?map=/ms_ogc/WMS_v1.3/raster/ortofoto_colore_provincia_como.map

layer 1.

I'm searching if it is something different from the two wms layers. CRS is the same and others setting are the same. It's just smaller tha

[2016-02-05 08:46] akbargumbira commented on #199
Hi @Kluichnikov, can you just master branch of this repo and tell me the detail of your environments:
- If possible, provide the data to replicate the issue
- What settings in QGIS2web you are using

[2016-02-05 09:59] tomchadwin commented on #200
OK, I was describing what I did from memory. I'm at my machine now, so will describe it fully:

1. Click `Add WMS/WMTS Layer`
2. Click `New`
3. Give a friendly name, and the URL `http://www.cartografia.servizirl.it/arcgis/services/wms/ctr_wms/MapServer/WMSServer` - no other settings changed
4. Click `OK`, and then `Connect`
5. Select layer id 1, name and title CTR_DBT
6. Leave all other settings u

[2016-02-05 10:34] Kluichnikov commented on #199
Hi @akbargumbira. I used your last recomendation and used just the master branch repo. [Here is a link to my data and images](https://drive.google.com/folderview?id=0B1RNSNTkf_wEY056UlQwUzhSZzg&usp=sharing) depicting my settings in qgis2web. The same images with my settings can be seen below also. Kindest regards.

English title & two English layers
![eng_title_layers](https://cloud.githubusercont

[2016-02-05 11:04] tomchadwin commented on #199
Can you try removing the `unicode()` function from l.169 of `leafletWriter.py`, making it:

[code]

[2016-02-05 11:04] tomchadwin commented on #199
@michellemoine Do you get the same error if you set your project title including French characters?

[2016-02-05 11:31] Kluichnikov commented on #199
I tried removing the unicode() function from the line 169. The result has remained just the same.
![errorwindow](https://cloud.githubusercontent.com/assets/3087476/12845075/78bd8e00-cc14-11e5-838b-84f6a82d0cd4.jpg)

Please, take note of the case when I had two layers named in Russian. Then there was just one layer depicted in the qgis2web window instead of two ones.
![errorwindow2](https://cloud.g

[2016-02-05 11:47] tomchadwin commented on #199
I've recreated the title error, and am looking into that now.

I've also looked at the two Russian layers problem, and that is caused by the function safeName() in utils.py. As you can see from the comment (which was written before qgis2web existed, in qgis-ol3), the javascript variables are derived from the layer names, but only the ASCII characters are retained. Because the Russian layer names h

[2016-02-05 11:52] tomchadwin commented on #199
See the issue originally raised for qgis2leaf: https://github.com/Geolicious/qgis2leaf/issues/202. Perhaps using `layer.id()` for JS vars is an option...

[2016-02-05 11:58] Kluichnikov commented on #199
Thank you very much, Tom. I will have a look at that issue now.

[2016-02-05 11:59] Axgro12 commented on #200
Now it really works, I think the url of wms I use was someway wrong.
Thanks for you're help, you're plugin is great.

[2016-02-05 12:01] tomchadwin commented on #200
Glad it's working for you now. And thanks for the kind words.

[2016-02-05 12:01] #200 closed

[2016-02-05 12:11] tomchadwin commented on #199
I've committed a fix to master which perhaps solves the two Russian layers issue. However, it destroys all the tests (output has timestamped vas, so is never equal to the control files. I probably therefore need to reconsider how to do this.

[2016-02-05 12:27] tomchadwin commented on #199
OK, I've switched to an approach which I think I can make work with the tests. Please download current master, and see if you can now have two layers with Russian names in your layers list.

Not solved the project title issue yet. Will fix the tests first, and then look at that.

[2016-02-05 12:45] michellemoine commented on #199
Hi all,

I am still using the master version of yesterday and i have the same error if the title includes French characters. However, it's working nicely in the layers legend titles.

Error

qgis2web produced an error:

Traceback (most recent call last):
File "C:/.qgis2/python/plugins\qgis2web\maindialog.py", line 125, in previewMap
MainDialog.previewLeaflet(self)
File "C:/.qgis2/python/plugins\qg

[2016-02-05 12:58] tomchadwin commented on #203
Thanks for the files. Since the layer name has an é in it, have you tried current master, given the i18n changes which have been made?

[2016-02-05 13:00] tomchadwin commented on #203
I meant to say, it works for me:

![screenshot 2016-02-05 12 58 25](https://cloud.githubusercontent.com/assets/7840213/12847028/593f405c-cc08-11e5-914b-ba29968d7cc1.png)

[2016-02-05 13:45] michellemoine commented on #203
I have tried both yesterday. I 'll download the new version and will try again. As you can see in the screen capture, the different color categories are missing from the legend.

[2016-02-05 14:09] tomchadwin commented on #203
My apologies - of course you are right. The categories are not present in the layers list. I'll investigate.

[2016-02-05 14:27] tomchadwin commented on #203
Recreated - thanks. Fix coming.

[2016-02-05 14:31] tomchadwin commented on #203
Fix committed to master - please test.

[2016-02-05 14:31] #203 closed

[2016-02-05 14:38] michellemoine commented on #203
Thanks Tom. It's working

[2016-02-05 15:16] tomchadwin commented on #199
OK, I've committed a fix for Unicode project titles to master. Can you test?

[2016-02-05 15:28] Kluichnikov commented on #199
Please, excuse me. I was engaged for a long time due to my work. After I've downloaded the last master I see that everything works. The project title and the layers written in Russian are seen in the ready web-page.
![untitled-1](https://cloud.githubusercontent.com/assets/3087476/12850532/3892c1fc-cc36-11e5-9b9f-ee52d5da6cb5.jpg)

[2016-02-05 15:29] tomchadwin commented on #199
Great. Glad it's fixed. @michellemoine, let me know if it works for you as well. Closing for now.

[2016-02-05 15:29] #199 closed

[2016-02-05 16:26] tomchadwin commented on #186
Released as 1.0.0-RC3 and pushed to QGIS plugins repo

[2016-02-05 16:26] tomchadwin commented on #181
Released as 1.0.0-RC3 and pushed to QGIS plugins repo

[2016-02-05 16:27] tomchadwin commented on #33
Released as 1.0.0-RC3 and pushed to QGIS plugins repo

[2016-02-05 16:27] tomchadwin commented on #112
Released as 1.0.0-RC3 and pushed to QGIS plugins repo

[2016-02-05 16:27] tomchadwin commented on #188
Released as 1.0.0-RC3 and pushed to QGIS plugins repo

[2016-02-05 16:27] tomchadwin commented on #193
Released as 1.0.0-RC3 and pushed to QGIS plugins repo

[2016-02-05 16:27] tomchadwin commented on #190
Released as 1.0.0-RC3 and pushed to QGIS plugins repo

[2016-02-05 16:28] tomchadwin commented on #195
Released as 1.0.0-RC3 and pushed to QGIS plugins repo

[2016-02-05 16:28] tomchadwin commented on #196
Released as 1.0.0-RC3 and pushed to QGIS plugins repo

[2016-02-05 16:28] tomchadwin commented on #197
Released as 1.0.0-RC3 and pushed to QGIS plugins repo

[2016-02-05 16:28] tomchadwin commented on #199
Released as 1.0.0-RC3 and pushed to QGIS plugins repo

[2016-02-05 16:28] tomchadwin commented on #203
Released as 1.0.0-RC3 and pushed to QGIS plugins repo

[2016-02-05 16:37] michellemoine commented on #199
It's working fine. Thanks Tom.

[2016-02-05 17:14] michellemoine commented on #198
Tom, we haven't talked about this issue since then, but I just tested this again and the problem has gone.
Having said that, there is a new issue. Unchecking the point layer will not hide the layer completely.
http://bassinefe-liege.be/qgis2web_cluster

[2016-02-05 17:29] tomchadwin commented on #198
Ah, this is a reversion - the map is displaying points both clustered and unclustered at once. I'll have to investigate next week.

[2016-02-05 17:29] tomchadwin commented on #198
Closing this one and will open another for the new issue

[2016-02-05 17:29] #198 closed

[2016-02-05 17:30] tomchadwin opened #204 "Leaflet cluster shows unclustered points as well"
From #198

[2016-02-05 17:30] tomchadwin commented on #198
See #204

[2016-02-05 17:35] michellemoine commented on #204
I suppose it's a normal behaviour to show clustered points only when it's necessary. If you turn that layer off, some points will stay visible and not others regardless if they are clustered or not.

[2016-02-08 10:01] tomchadwin commented on #204
This happened before:

https://github.com/tomchadwin/qgis2web/issues/162

[2016-02-08 10:02] tomchadwin commented on #204
Does it also happen with remote WFS layers?

[2016-02-08 10:12] tomchadwin commented on #204
No, it doesn't happen with WFS layers. It also doesn't happen with JSON single-style layers, only JSON categorized/graduated.

[2016-02-08 10:54] tomchadwin commented on #204
I've committed a fix to master. Please test and let me know if it is now sorted.

[2016-02-08 11:09] tomchadwin commented on #168
OK, let me see if I can summarize what you are saying:

- on initial map load, all layers display, even if they should not because of scale-dependent visibility
- when you start to zoom in and out, layers do start to appear and disappear correctly
- however, the precise zoom level at which they appear and disappear is not quite correct

Is that an accurate description of what you are seeing?

[2016-02-08 11:11] tomchadwin opened #205 "Allow multiple pop-up fields (but not all fields)"
Request came from here:

http://gis.stackexchange.com/questions/179632/export-more-than-one-but-not-all-attributes-with-qgis2web

[2016-02-08 12:06] tomchadwin commented on #194
Closing after no response from original requester. Reopen if required.

[2016-02-08 12:06] #194 closed

[2016-02-08 12:52] tomchadwin commented on #189
Done in master.

[2016-02-08 12:52] #189 closed

[2016-02-08 13:03] tomchadwin commented on #182
Closing as a wontfix until Leaflet 1.0.0 is released, when the whole z-order thing will need revisiting.

[2016-02-08 13:03] #182 closed

[2016-02-08 17:50] michellemoine commented on #204
Hello Tom,
Actually, only part of the issue is fixed and that's excellent. Checking out the points layer works for clustered and non clustered points. Checking in the layer again, non clustered points layer order is changed.

[2016-02-08 23:47] mykolakozyr commented on #168
Yes, you are right, but I also met with other problems. I've created maps using Leaflet and OL3 and want to describe what I've got:

### Preconditions:
I have 5 vector and 5 raster layers, which have to be displayed at different zooms (12-16+ (1 vector and 1 raster per zoom and the last (16) stays till the end), 1 vector layer (border), which has to be displayed all the time and another vector lay

[2016-02-09 11:23] tomchadwin commented on #204
Reopening to investigate.

[2016-02-09 11:33] tomchadwin commented on #204
To clarify, is the following description of this issue as it now stands correct:

- layers cluster correctly - there is no longer duplication of clustered and unclustered points
- clustered points are visible above other layers, but unclustered points within a clustered layer are moved lower down the z-order when the clustered layer is hidden and then displayed via the layers control

Is that it?

[2016-02-09 13:24] michellemoine commented on #204
That's correct.

[2016-02-09 15:47] tomchadwin commented on #204
I don't know if I can do anything about this. My suspicion is that this behaviour emerges from the markercluster plugin. Does anyone else think differently?

[2016-02-09 15:47] #204 closed

[2016-02-10 11:31] tomchadwin commented on #168
I'll try to look into this. You are raising quite a lot of issues, not all of which I yet fully understand. I might open separate issues for individual bugs you have identified. I'll cross-reference them to this issue, though, so hopefully you can keep an eye on progress.

[2016-02-10 11:32] tomchadwin opened #206 "OL3 raster layers ignore scale-dependent visibility?"
Issue reported here:

https://github.com/tomchadwin/qgis2web/issues/168#issuecomment-181627918

[2016-02-10 12:06] tomchadwin commented on #206
Fix committed to master. @mykolakozyr, can you test?

[2016-02-10 12:06] #206 closed

[2016-02-10 12:11] tomchadwin commented on #168
@mykolakozyr : "Raster layers [...] look reprojected"

Rasters are reprojected to EPSG:3857, because the exported maps use that projection. I'll raise another issue to try to use the project projection for raster layers if "Match project CRS" is checked.

[2016-02-10 12:52] tomchadwin commented on #168
@mykolakozyr: "layers' names with the same digit saves with first only (so if I have names "99" and "999", it save only one layer with the name "9"). Digit "0" doesn't saves at all (I had layers 100 and 1000, it saved the file "1")"

I can't recreate this, or I am not understanding the issue properly. Can you explain it further?

[2016-02-10 17:14] magerlin opened #207 "Option to add text on map"
It would be nice if one could add a few lines of text on the map.
I often manually add something like this just before the <\body> tag in the generated index.htm file:

`<div style="position: absolute; left: 70px; top: 10px;  background-color: white; opacity:0.6; padding:5px">
     <h2>Map title</h2>
      Map subtitle
</div>`

I suppose it will be quite easy to add this feature as a part of the p

[2016-02-10 17:22] magerlin opened #208 "Option to save map setup"
It would be nice if one could save the setup for Qgis2web.

Either as a part of the .qgs project file (don't know if that is possible?).

Or in a separate file - perhaps with the same feature as for .qml files and .shp files: If you use the same name for the saved qgis2web settings file as the .qgs project file, then it will be used as the defaults for Qgis2web in that project - also the next time

[2016-02-10 19:11] tomchadwin commented on #208
This is already implemented,  but I thought it might not be working. I guess you do too?

[2016-02-10 19:14] tomchadwin commented on #207
Edit the template, or create a new one. You should see a lot of @VARIABLES@, including one which is the QGIS project title. You can add your DIV to a template, and put that variable into it, then set your text add the QGIS project title.

[2016-02-10 19:14] #207 closed

[2016-02-10 21:10] magerlin commented on #208
First off all: It is a VERY cool plugin!

As I see it:
•	Settings from the topleft pane are stored as you say
•	From the bottom left pane it appears to me, that none or perhaps a few settings are stored (or they are perhaps just kept at their default settings?)
•	From the bottom right pane (background maps) nothing is stored

Regarding my other post on adding text to the map I am embarrassed not t

[2016-02-10 21:10] #208 closed

[2016-02-10 22:13] azstumbler opened #209 "icon_exp being ignored when exporting to leaflet"
When exporting from QGIS the Layer markers are showing up correctly based upon what is in the legend_exp field of the attribute table. However the marker on the map is not what is in the icon_exp field and appears to be an arbitrary blob of color. The symbols are png and I have used them in qgis2leaf but now in qgis2web they are not working

[2016-02-11 09:22] tomchadwin commented on #209
icon_exp is no longer supported. For custom markers, the recommendation is to use SVG markers in QGIS, which are exported.

[2016-02-11 09:22] #209 closed

[2016-02-11 09:36] tomchadwin opened #210 "Unicode characters in field aliases give unicode error in Leaflet"
Reported here: https://github.com/tomchadwin/qgis2web/issues/208

[2016-02-11 09:39] tomchadwin commented on #208
See this issue for the layer list order and z-order of layers in Leaflet: https://github.com/tomchadwin/qgis2web/issues/182

[2016-02-11 09:46] tomchadwin commented on #210
Fixed in master: please test, @magerlin

[2016-02-11 09:46] #210 closed

[2016-02-11 10:13] magerlin commented on #210
Confirmed - no more errors.

Using alias in OpenLayers has no effect - is that known/intended?

[2016-02-11 10:52] magerlin opened #211 "Integrating Qtiles plugin too?"
Vector files with many features (~100.000) will normally "kill" any browser in both Leaflet and OpenLayers maps.

One solution is to convert to raster tiles and use these instead. The [Qtiles plugin](https://github.com/nextgis/QTiles) can do this and even produce a leaflet viewer of the tiles so I guess it would not be that much work to incorporate it in Qgis2web?

[2016-02-11 14:24] tomchadwin commented on #210
Thanks. No, that needs to be added to OL3. Will create a new issue.

[2016-02-11 14:24] tomchadwin opened #212 "OL3 doesn't use field aliases"
Issue raised here: https://github.com/tomchadwin/qgis2web/issues/210

[2016-02-11 14:52] tomchadwin commented on #212
I looked at this before: https://github.com/tomchadwin/qgis2web/issues/119. There's no easy solution, because OL3 gets the field names from the JSON, and the JSON is written out from the layer. No easy way to inject the field aliases into that workflow. Have to close this one, I'm afraid. Sorry.

[2016-02-11 14:52] #212 closed

[2016-02-11 14:54] tomchadwin commented on #211
I'm reluctant to build in such a dependency/integration. People can prepare the layers they want to in QGIS itself, rather than qgis2web taking on that job.

[2016-02-11 14:54] #211 closed

[2016-02-11 15:02] magerlin commented on #211
OK fair enough - I saw it a bit like when gis2web can transfer wfs layers to geojson

[2016-02-12 11:05] tomchadwin commented on #211
I don't think the similarity holds - WFS to JSON keeps vectors as vectors, stores attribute data, and so on. It really is just a storage format change. But burning a vector dataset to raster, thereby losing attribute data, and then tiling it is a much bigger change. My opinion, anyway.

[2016-02-12 11:12] tomchadwin commented on #170
When a setting is saved for the second time, the original saved setting is not deleted, leading to two entries. I'll try manually deleting when saving.

[2016-02-12 11:13] tomchadwin commented on #208
For the save settings issue, see https://github.com/tomchadwin/qgis2web/issues/170

[2016-02-12 13:20] tomchadwin commented on #170
I've committed a fix for saving the bottom-left panel settings. @magerlin, can you test? If you get errors, or settings not saving properly, can you open your project file in a text editor, and remove the <qgis2web> tag and its contents? I've not fixed saving basemaps yet (well, technically, they save, but don't restore yet).

[2016-02-12 15:55] tomchadwin commented on #170
Basemaps are now saved. @magerlin, I think everything is now saved correctly. I'll close this issue, but if you find problems, I'll reopen.

[2016-02-12 15:55] #170 closed

[2016-02-12 17:51] ametz112 opened #213 "Export to webmap crashes"
Hello,

Upon opening the qgis2web plugin, I receive the following error message:

minidump written to C:\Users\AMETZ_~1\AppData\Local\Temp\qgis-20160212-114317-6984-6708-99ac688.dmp

When I click 'OK', the entire qgis program closes.

Thank you for taking the time to review this and comment!

[2016-02-12 18:11] magerlin commented on #170
After downloading latest master I can confirm that base map saving and reading works as expected.

BUT NOT the bottom-left panel. I can see the settings are store in the .qgs file but they are apparently not read again (at least not in Win 7, 64 bit).

And by the way: The default export folder (at my PC: C:\Users\xxx\AppData\Local\Temp\qgis2web) is normally a hidden system folder in win 7. Inexper

[2016-02-12 20:31] tomchadwin commented on #213
Has anyone else experienced this? I've never debugged a minidump. Can anyone help with this?

[2016-02-14 10:17] nmtoken opened #214 "Cannot import name spatialite_utils"
I got the following error on trying to install:

This plugin is broken cannot import name spatialite_utils

System details are (64bit on Linux)

QGIS version | 2.12.3-Lyon
QGIS code revision | exported
Compiled against | Qt 4.8.6
Running against | Qt 4.8.6
Compiled against | GDAL/OGR 1.10.1
Running against | GDAL/OGR 1.10.1
Compiled against | GEOS 3.4.2-CAPI-1.8.2
Running against | GEOS 3.4.2-CAPI

[2016-02-14 10:42] nmtoken commented on #214
Reinstalling the processing plugin has fixed it

[2016-02-14 10:42] #214 closed

[2016-02-14 16:49] ardit700 opened #215 "Problem producing lots of features"
I was using qgis2web successfully in November, 2015.

Now, I tried it again with the current version and realized that when I had lots of polygon features (2000 rows) the navigation on the produced web map (i.e. zooming, panning) becomes very slow.

I then deleted most of the features and kept only 200 of them and noticed the navigation was working smoothly.

Do you know why this might be?

[2016-02-15 12:36] philipjohnbarlow commented on #215
2000 polygons? The lag I not surprising. There are a couple of things you could try. I'd start by simplifying your layer, you can on this in the plugin just reduce the accuracy. You could also try applying a scale dependency so less objects render at once.

This is a known short coming of leaflet, another option is to render your layer as a raster.

[2016-02-15 12:38] ardit700 commented on #215
Yeah, I was able to find a solution by simplifying the geometry. Those polygons had too many vertexes.
The scale dependency feature also sounds like a good option.

[2016-02-15 19:44] tomchadwin commented on #213
Are you still getting this crash?

[2016-02-15 19:55] ametz112 commented on #213
Hey Tom yes I am.

[2016-02-16 21:49] ThomasG77 opened #216 "Manage when thematic analysis uses calculated fields"
With Leaflet, when I try to make a thematic analysis using calculated field instead of an existing field in the data source, I get a report like below.

[code]

You should make a message explaining it's not possible to export keeping thematic analysis in this use case or forbid the use case when detected.

For OpenLayers 3, there are no error returned but the overview does not display the thematic

[2016-02-20 19:13] walkermatt opened #217 "Update OL3 LayerSwitcher"
Hi Tom,

I thought you might like to know that [ol3-layerswitcher] (https://github.com/walkermatt/ol3-layerswitcher/) has seen some updates recently including [fixing scrolling on touch devices](https://github.com/walkermatt/ol3-layerswitcher/issues/18).

Cheers,

Matt.

[2016-02-22 11:13] tomchadwin commented on #217
Ah, great. No breaking changes, to your knowledge? I'll try dropping in the new version. Thanks.

[2016-02-22 16:31] tomchadwin commented on #216
I can't recreate this yet. Can you give some more details? Is the field a new field or a virtual field? If I create a new virtual field, I don't get that error, so there must be some option you have selected which I have not, to create the error. Can you do a screenshot of your plugin dialog, so I can see your settings?

[2016-02-24 10:09] tomchadwin commented on #213
Can you upload your project and layers so I can try to recreate the issue?

[2016-02-24 10:31] tomchadwin commented on #217
Updated in master. If you were ale to test, I'd be very grateful.

[2016-02-24 10:31] #217 closed

[2016-02-24 12:39] philipjohnbarlow commented on #217
Looks to be working fine with the test data and a few WFS layers.  The only thing I have noticed is that if you enable the measuring tool and highlight on hover highlighting stops working and you get "click to start drawing" message as if you had just selected the measuring tool. This happens in both preview and export e.g

![capture](https://cloud.githubusercontent.com/assets/14541141/13285635/a0

[2016-02-24 12:41] tomchadwin commented on #217
Confirmed - I'll open a new issue for that.

[2016-02-24 12:41] tomchadwin opened #218 "Conflict between measure and highlight in OL3"
From #217

[2016-02-24 13:00] tomchadwin commented on #218
Can't figure this one out. Can anyone else?

[2016-02-24 13:01] tomchadwin commented on #215
Glad you found a solution. Closing this issue - reopen if necessary.

[2016-02-24 13:01] #215 closed

[2016-02-24 13:02] tomchadwin commented on #168
Closing for now, because of no recent feedback. Reopen if required.

[2016-02-24 13:02] #168 closed

[2016-02-24 13:32] philipjohnbarlow commented on #218
Had a look at the plugin output where I first noticed this issue.  I'm getting a single message in the debugger in IE that refers to the helptooltip element.  "Unable to get property 'removeClass' of undefined or null reference".  Line 145.

[2016-02-25 07:38] walkermatt commented on #217
Thanks Tom, I've also just tested and the updated layer switcher is displaying as expected.

I initially create a map without a base map, I think I might update the layer switcher to only display the base maps group when there are base maps.

[2016-02-25 08:22] walkermatt commented on #218
I'd be happy to take a look providing you don't mind if it takes me a few days to get to it.

[2016-02-25 08:31] tomchadwin commented on #217
OK, great. Have you also seen this: http://gis.stackexchange.com/questions/181111/tweaking-some-aspects-of-open-layer-3-output-using-qgis2web. Don't know if any of that is possible via the switcher.

[2016-02-25 08:38] tomchadwin commented on #218
That would be brilliant. You can take two months if you want. Really grateful.

[2016-02-29 10:46] walkermatt opened #219 "Add `type: 'base'` property to ol3 base layers"
Currently ol3 base layers are added to a "Base maps" layer group but they do not have have a `type` property with a value of `'base'` which is required by [walkermatt/ol3-layerswitcher](https://github.com/walkermatt/ol3-layerswitcher) in order for radio buttons to be displayed. Unless there is a valid reason for this I'd be happy to make the required changes.

[2016-03-01 10:36] tomchadwin commented on #219
Please do - that would be splendid. Many thanks!

[2016-03-07 10:16] tomchadwin commented on #213
Closing for now without further feedback.

[2016-03-07 10:17] tomchadwin opened #220 "ECW dumps QGIS?"
See http://gis.stackexchange.com/questions/183631/qgis2web-crashes-latest-qgis-2-14

I don't have any ECWs, so cannot test. Can anyone recreate this issue? If so, can anyone help fix it?

[2016-03-14 16:15] tomchadwin commented on #219
ANy joy with this, @walkermatt?

[2016-03-14 17:43] tomchadwin opened #221 "2.5d writes OSMBuildings columns back to original layer"
If so, this is serious. Can anyone confirm, and if so, find out what is going wrong?

[2016-03-14 19:31] walkermatt commented on #219
Hi, I've a WIP version that needs a little more testing. BTW I couldn't get the unit tests to run due to a missing processing module, any tips (I'm on Linux and have tried running the env script)?

[2016-03-14 21:50] tomchadwin commented on #219
You mean running them manually? I've only ever run them via Travis, so I'm not sure. If you post the error here, @akbargumbira might be kind and take a look. But don't worry too much. Travis will test your PR.

[2016-03-14 22:51] akbargumbira commented on #219
@walkermatt perhaps try to source this script? https://github.com/tomchadwin/qgis2web/blob/master/scripts/run-env-linux.sh (and don't forget to change the QGIS_PREFIX_PATH to your qgis installation path)

[2016-03-15 07:21] tomchadwin commented on #219
Thanks, Akbar.

[2016-03-15 11:04] tomchadwin commented on #221
Confirmed: every time a 2.5d layer is rendered by the plugin (preview or export), it adds another three variables to the *original* layer (`height`, `wallColor`, and `roofColor`). I don't know why these are being written to the original layer file, and not simply to the temp scratch memory layer created by `writeTmpLayer()`.

[2016-03-15 15:59] michellemoine opened #222 "Polygone Style graduated - Symbol selector centroid fill"
Hi Tom,

I have a map that is nicely working when symbol selector is set to "simple fill."
Changing that to "centroid fill" will not display in OL3 and throw the following error in Leaflet:

Error

qgis2web produced an error:

Traceback (most recent call last):
File "C:/Users/hp850/.qgis2/python/plugins\qgis2web\maindialog.py", line 123, in previewMap
MainDialog.previewLeaflet(self)
File "C:/Users

[2016-03-15 17:16] dpsspatial commented on #127
I'm not able to get the labels to display on point layers at all...

[2016-03-15 22:11] dpsspatial opened #223 "Features disappearing in Chrome (Firefox OK), and in Export window"
I've built a simple map with 2 layers, a point (overlay) and polygon(background)

When viewing the map in Chrome, after some panning/zooming, some of the point features disappear:

![chrome](https://cloud.githubusercontent.com/assets/12851723/13795778/6c85d534-eac8-11e5-8114-8261115756a5.PNG)

After some time trying to re-produce this in Firefox, I can't get the points to disappear:

![ff](https:/

[2016-03-16 07:12] walkermatt commented on #219
I've made some progress with running the tests on Ubuntu 15.10 with QGIS 2.8.3-Wien. To get the tests to run I had to run:

    cd ~/.qgis2/python/plugins/qgis2web
    source scripts/run-env-linux.sh /usr
    make test

Where `/usr` is the `QGIS_PREFIX_PATH`.

I'll now look create some tests for my changes :smile_cat:

[2016-03-16 10:13] tomchadwin commented on #127
@dpsspatial Can you follow the debugging instructions on the Help tab of the plugin (or the homepage of the plugin here on Github) to try to help narrow down where the problem might be?

[2016-03-16 10:15] tomchadwin commented on #219
Thanks very much! Yes, the existing tests don't enable the layer switcher, so it is untested.

[2016-03-16 10:20] tomchadwin commented on #222
I'm afraid centroid fill is not supported. I need to catch that error and apply a default style.

To achieve what you need, you'll need to create a new point layer with actual points on the centroids, and then export that.

[2016-03-16 13:41] johnwbryant commented on #220
will check this out tomorrow, I have a few ECWs up my sleeve

[2016-03-16 14:29] dpsspatial commented on #127
@tomchadwin turns out it wasn't labeling INT fields, only Character... so I have a workaround for now, but is this expected?

[2016-03-16 15:06] philipjohnbarlow commented on #220
Tom, I've had a go with a few ECWs just now and I've had no problems at all (example below).  I suspect the problem that goatwillow is the raster conversion from ECW to PNG?  The error message looks to be related to the progress bar that appears at the top of the canvas when the plugin is loaded.  The first thing I would checks is that they have the correct path to GDAL tools under raster>GDALTool

[2016-03-17 01:28] johnwbryant commented on #220
I did a quick test here:

-created a QGIS project with a smallish (17MB)  ECW, a WMS layer, and a WFS layer
-opened the same project in QGIS 2.8.7 and 2.14.0
-ran the qgis2web export to OL3 from each version of QGIS, with identical settings

Both came out the same, though it took a little while. ECW converts to PNG ok in both cases.

For my immediate use cases, it would probably make more sense to

[2016-03-17 09:49] tomchadwin commented on #127
Ah, OK. Let me look at that. In the meantime, create a new text field with the numeric values in it as a string.

[2016-03-17 11:07] tomchadwin commented on #127
I've commited a fix for OL3 maps - can you test? Leaflet to follow.

[2016-03-17 20:05] michellemoine commented on #222
Thanks

[2016-03-17 21:50] anitagraser commented on #221
Confirmed here: I'm already at column no. 29 ;-)

[2016-03-17 22:36] tomchadwin commented on #221
Yeah. Mid-80s is my record, before I realized it was happening. Eek. Happily, @nyalldawson has spotted my error, so I hope to have a fix soon. Thanks, Nyall!

[2016-03-18 11:10] tomchadwin opened #224 "Suggestion: remove popup field chooser for layers"
You can manage which fields appear in your popups by setting fields in QGIS to hidden. Does that mean we should get rid of the qgis2web combobox for selecting popup fields? It's not perfect anyway, as the only options are no popup, all fields, and any one single field - you can't have multiple selected fields (#205).

[2016-03-18 12:22] tomchadwin commented on #221
I've committed a possible fix to master, but it needs more testing before being released. Let me know if it works for you.

[2016-03-18 12:53] #221 closed

[2016-03-18 12:55] tomchadwin commented on #223
I've not seen this myself. Is it in Leaflet or OL3 maps, or in both? Are you able to recreate the problem reliably? It might also be worth searching for the issue online relating to Leaflet/OL3 - ie this might be an underlying issue with the mapping library, and not specific to qgis2web.

[2016-03-18 15:57] dpsspatial commented on #127
Upgraded to version 1.3.2:

The INT labels show undefined and the symbols don't take:

![ol3_undefined](https://cloud.githubusercontent.com/assets/12851723/13883497/555eef48-ecef-11e5-9048-551282e17d26.PNG)

Additionally, the OL3 version seems to pick up the data twice in the map, so when you preview the project, you see nothing in the preview map until you zoom out, where I see two versions of th

[2016-03-18 16:11] tomchadwin commented on #127
Confirmed - apologies. Broken as part of fixing the 2.5d renderer bug. Looking into it now.

[2016-03-18 16:15] tomchadwin commented on #127
I've committed a possible fix to master - can you test?

[2016-03-18 16:43] dpsspatial commented on #127
I hope I've upgraded the plugin correctly (re-install as no update was showing, but still using v. 1.3.2)

- in OL3, not seeing the duplicate dataset in map preview
- OL3 still showing 'undefined' w/ no symbols on INT type fields
- Leaflet not showing INT labels...

[2016-03-18 16:53] tomchadwin commented on #127
No, you need to overwrite manually from Github master branch - see the help tab or README.

[2016-03-18 17:05] dpsspatial commented on #127
Got it -

- OL3 showing INT labels!

Thanks, Tom!

[2016-03-18 17:18] tomchadwin commented on #127
Great. Still not managed to fix the issue in Leaflet exports yet.

[2016-03-18 17:19] dpsspatial commented on #127
Appreciate your help - let me know if I can test anything else...!!!

[2016-03-18 19:44] dpsspatial commented on #223
Seems to be only in Leaflet, and can repro this every time both in the preview window and the exported project.

Also: has the symbol size setting changed? Preview/export maps are not showing the same size as in the QGIS map (but yesterday, as with images above, symbol sizes were the same...)

Image from today's test:

![leaflet_disppearingfeatures](https://cloud.githubusercontent.com/assets/12851

[2016-03-18 20:45] michellemoine opened #225 "Leaflet layers order"
Hi Tom,

I am having the following issues :

- The layers are in reversed order when exported

- In the following example : http://cartographie-bassinefeliege.be/qgis2web If I ckeck off the points layers and check on only the last layer (green), it will show under the polygon layer. Checking on all the other point layers will restore the green layer on top of the polygon layer.

Any help is very m

[2016-03-20 08:55] tomchadwin commented on #225
Confirmed. Very strange behaviour. There have been various issues raised about layer order already, and there is no easy solution until Leaflet 1.0.0 is fully released. I'll try to find the links tomorrow.

[2016-03-21 10:04] #219 closed

[2016-03-22 10:34] tomchadwin commented on #222
I've just tested this, and I don't get that error. I just get a default style (white fill, black border). Closing for now, unless I can recreate.

[2016-03-22 10:34] #222 closed

[2016-03-22 10:36] tomchadwin commented on #220
I'll close this for now, as there has only been this one instance of the problem. Will reopen if others experience it.

[2016-03-22 10:36] #220 closed

[2016-03-22 12:11] tomchadwin commented on #225
See #98 and #182. Are either of those the same issue(s)?

[2016-03-22 14:34] magerlin opened #227 "My own templates get deleted when Qgis2web is updated"
Should there be a separate folder for user templates as the templates in C:\Users\XXX\.qgis2\python\plugins\qgis2web\templates gets deleted when the plugin is updated using Plugin Manager?

[2016-03-22 14:39] magerlin opened #228 "OSM Black & White as background map"
The Qgis2leaf plugin which Qgis2web is based on has an option to choose OSM Black & White as background map. I would like to have that in Qgis2web too, as the more colourful background maps often interfere to much with colours of layers put on top.

[2016-03-22 14:44] tomchadwin commented on #227
A very valid and important point - I am so sorry that you have lost files. I'l have to think about how to handle this.

[2016-03-22 14:46] magerlin opened #229 "Choosing "Show all attributes" in popup show only "Undefined" as attribute values"
I have problems using "Show all attributes" in popup. The popup table is filled with "Undefined" as values:

![screenshot 2016-03-22 15 29 06](https://cloud.githubusercontent.com/assets/1887531/13955428/de443f9a-f044-11e5-941e-b2316ed74a84.png)

Choosing only one attribute to popup works fine.

Choosing all attributes in Qgis2leaf works fine too.

Test shape file:
[test.zip](https://github.com/tom

[2016-03-22 14:47] tomchadwin commented on #228
From memory, the tileserver which served the B&W OSM tiles from qgis2leaf disappeared, so I had to remove it from qgis2web. If you can find an open tileserver with those tiles (or any others you think should be basemaps in qgis2web), post the address(es) here, and I can look at adding them. **Note**: they must be tileservers (xyz), and not WMS.

[2016-03-22 14:50] magerlin commented on #228
They work fine in Qgis2leaf - viewing generated source code reveals this:

`var basemap_0 = L.tileLayer('http://{s}.www.toolserver.org/tiles/bw-mapnik/{z}/{x}/{y}.png', {
			attribution: additional_attrib + '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors,<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
		});	`

[2016-03-22 14:52] tomchadwin commented on #228
OK, great. Try editing the plugin file basemaps.py, and you should be able to add that one in. Please do submit a pull request, and I can then incorporate your addition back into the main plugin.

[2016-03-22 14:54] tomchadwin commented on #229
Yes, we've been looking at that issue in #127 - not solved yet. Will close this - watch that other issue.

[2016-03-22 15:00] tomchadwin commented on #229
No, wait, that was labels, but this is popups. Let me reopen.

[2016-03-22 15:14] magerlin commented on #228
I would love to do this and I have tried to put it in completely parallel to the ordinary OSM map but I can not get it to show up when running the plugin. I am not a programmer :-(

[2016-03-22 15:36] magerlin opened #230 "Hard/impossible to get popup from all clustered point"
With several points at exactly same position the cluster function can "spread them out"

But it can be hard to get pick up from all of the points. Usually one point seems to be closer to the green dot (the left one) and perhaps sort of covered by the green dot and it is very hard/impossible to get it to popup:
![screenshot 2016-03-22 16 30 41](https://cloud.githubusercontent.com/assets/1887531/139

[2016-03-22 15:45] tomchadwin commented on #230
Leaflet clustering is done by the Leaflet MarkerCluster plugin (https://github.com/Leaflet/Leaflet.markercluster). Does it have options to improve this situation? If not, yoyu'd have to raise it as an issue with them.

[2016-03-22 15:50] tomchadwin commented on #230
Looks like there is an option (`spiderfyDistanceMultiplier`) which will do this:

https://github.com/Leaflet/Leaflet.markercluster#other-options

I don't think qgis2web can get involved in setting this away from its default value. However, you can edit your output code to make the change.

[2016-03-22 15:50] #230 closed

[2016-03-22 16:22] michellemoine commented on #225
In my example, the first point layer (blue) is working fine. The last two points layers if checked off and on again while the blue layer is still checked on, will be displayed normally as they should.

The blue layer seems to trigger something when it's checked on for the last two layers to work properly. Without the blue layer checked on, the last two layers will be displayed under the polygon la

[2016-03-23 11:42] philipjohnbarlow opened #231 "OL3 pop-ups no longer working in 1.4.0"
Pop-ups appear to have stopped working in OL3 previews and exports.  Points and polygons from PostGIS and WFS tested so far.

[2016-03-23 11:45] philipjohnbarlow commented on #231
Small update to this, pop-ups do appear to be working for flat files such as mapinfo tabs.

[2016-03-23 11:49] philipjohnbarlow commented on #231
Possibly related?  I also get undefined field values from PostGIS layers in leaflet.
![capture](https://cloud.githubusercontent.com/assets/14541141/13984310/35a839e6-f0ed-11e5-9e30-631df9283bf4.PNG)

[2016-03-23 12:58] tomchadwin commented on #231
That's #229, yes. Think I've introduced a bunch or problems by trying to fix the display of numeric values in #127. Will have to take a look.

[2016-03-24 06:21] jumpinjackie opened #232 "Allow a selection of attributes for popup display instead of [one attribute] or [all attributes]"
Currently the attribute display options for a layer is restricted to only one attribute, or all attributes. It would be nice if I could pick a selection of attributes to show in a popup

[2016-03-24 06:43] philipjohnbarlow commented on #232
You can do this through the layer properties>fields. Just change the field widgets to hidden for those you don't want to appear in the pop-up. You then just choose "show all attributes" in the plugin.

Tip: You can also add aliases in the fields menu and these will appear as the attribute headings in your pop up.

[2016-03-24 06:45] jumpinjackie commented on #232
Ah, so that's how you control attribute display at the QGIS level! Good to know.

[2016-03-24 11:34] tomchadwin commented on #232
Thanks for explaining, @philipjohnbarlow. This information was not in the README/Help tab, so I've just added it.

[2016-03-24 11:34] #232 closed

[2016-03-24 13:16] tomchadwin commented on #227
OK, I've committed a change to master to fix this, and updated the README/Help tab to describe the new location of the templates folder. Let me know how it works for you. Once again, many apologies that you lost your templates.

[2016-03-25 09:57] MapNavTom commented on #231
I got this error but the fix is simple, basically the the json file gives the fields numerical IDs rather than the original field names in the data. The code in the index.html file calls the fields by the name rather than the numerical ID.  I just edited the field names to be the numerical IDs in the html file and the popup text appeared. I guess you need to make the plugin use the numerical IDs w

[2016-03-25 13:57] tomchadwin commented on #231
Ah, OK. Thanks for investigating. Can you post a sample of your edited output JS? What I don't understand is what has changed to stop this working when it was OK before.

[2016-03-25 14:10] MapNavTom commented on #231
Here is the Json file created in the data folder:

`var json_firstfour1={
"type": "FeatureCollection",
"crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:OGC:1.3:CRS84" } },

"features": [
{ "type": "Feature", "properties": { "0": "En-suite rooms", "1": "1 bed", "2": "22nd July to 29th Aug", "3": "From £350 per week" }, "geometry": { "type": "Point", "coordinates": [ -3.200056, 55.9

[2016-03-25 17:48] tomchadwin commented on #231
OK, that's interesting. Why has the JSON export dumped the field names? Anyone else see this? I'm unlikely to be able to check until Tuesday.

[2016-03-25 19:33] boesiii opened #233 "Problem with shapefile with Z and M values"
I was trying to use a polyline shapefile and I was having problems.  After some hair pulling and banging my computer monitor, it turned out that the shapefile had Z and M values.  It would be nice if q2w thru an error or message about the shapefile having these values.

[2016-03-28 19:01] tomchadwin commented on #233
Or even better, if it handled the layers. Can you post some z/m layers? I don't know enough about them to create one.

[2016-03-28 19:14] boesiii commented on #233
Attached is a shapefile with both Z and M values.

[polyline_z_and_m_values.zip](https://github.com/tomchadwin/qgis2web/files/192322/polyline_z_and_m_values.zip)

[2016-03-29 09:50] tomchadwin commented on #231
OK, @lucacasagrande has fixed the issue of the fieldnames disappearing from the JSON. However, OL3 popups now seem not to appear at all if there is no basemap. @walkermatt, can you think of why this might have happened, and could it be related to the change you made to the layerswitcher code relating to maps without basemaps?

[2016-03-29 10:28] tomchadwin commented on #233
Confirmed. Looks as though the approach currently used to identify the geometry type doesn't work with new geometry types. Looking for solutions, but not found them yet.

[2016-03-29 11:14] tomchadwin commented on #233
Asked for help here:

http://osgeo-org.1560.x6.nabble.com/Python-drop-z-m-values-td5258674.html

[2016-03-29 12:27] Naturtecnica commented on #231
Hi @tomchadwin!!!
Your plugin solved lots problems of mine. Great!!!
When are you going to fixe this issue and update the plugin?

[2016-03-29 12:44] tomchadwin commented on #231
@Naturtecnica We'll fix it when we work out what is causing the problem. At the moment, I don't know, so I don't know when it will be fixed. Hopefully this week, though.

[2016-03-29 12:46] Naturtecnica commented on #231
@tomchadwin Grate, Thanx!!!

[2016-03-29 15:56] walkermatt commented on #231
@tomchadwin I'll try and take a look over the next few days. It could be that the pop-up code makes an assumption that there is always a base maps group. One of the changes in #226 was to only add a base maps group if one or more base maps are selected.

[2016-03-30 08:42] #231 closed

[2016-03-30 08:45] tomchadwin commented on #229
OK, @lucacasagrande and @walkermatt have committed some fixes on this. I think it's working now. Can you test?

[2016-03-30 08:45] #229 closed

[2016-03-30 08:56] tomchadwin commented on #228
Added to master - please test.

[2016-03-30 08:56] #228 closed

[2016-03-30 09:05] tomchadwin commented on #233
Fix committed to master. Please test.

[2016-03-30 09:05] #233 closed

[2016-03-30 09:56] tomchadwin commented on #233
Released as 1.5.0 as pushed to QGIS plugins repo.

[2016-03-30 09:57] tomchadwin commented on #231
Released as 1.5.0 and pushed to QGIS plugins repo.

[2016-03-30 09:58] tomchadwin commented on #229
Released as 1.5.0 and pushed to QGIS plugins repo.

[2016-03-30 09:58] tomchadwin commented on #228
Released as 1.5.0 and pushed to QGIS plugins repo.

[2016-03-30 09:59] tomchadwin commented on #227
Released as 1.5.0 and pushed to QGIS plugins repo.

[2016-03-31 12:56] tomchadwin commented on #205
Can be achieved by setting source fields' edit widhets to `Hidden`.

[2016-03-31 12:56] #205 closed

[2016-03-31 17:04] tph018 opened #236 "QGIS 2.14.1 (Essen) crashes when loading up qgis2web on Ubuntu 14.04.2 LTS"
Hi,

When I attempt to load up qgis2web on QGIS 2.14.1 (Essen) running on Ubuntu 14.04.2 LTS, QGIS automatically crashes. This happens even though I freshly load up QGIS with no underlying project data or spatial data and proceed to load up qgis2web thereafter.

Note, this same QGIS crashing upon loading up qgis2web issue had been occurring on QGIS 2.10 (Pisa) running on Ubuntu 14.04.2 LTS so I th

[2016-04-01 06:17] polashbora opened #237 "Multipart labelled even though not selected"
The web page is showing all labels of a multi-part features even though this selection is disabled in QGIS Desktop. This leads to a messy map.
QGIS 2.14.1 Essen.
Also tried in Lyon with same problem.

See image.
![multipart-labelled](https://cloud.githubusercontent.com/assets/4884865/14199128/540a9e7e-f7ff-11e5-81d2-72f7ee5cde44.png)
Thanks & Rgds

[2016-04-01 11:11] tomchadwin commented on #237
I don't fully understand (because my QGIS knowledge is not brilliant). Labels are enabled if they are enabled for the layer in QGIS. What are multi-part features?

[2016-04-01 11:12] tomchadwin commented on #236
Has anyone else had this problem? I'm on Windows, so I can't recreate, and I don't know how to debug Linux crashes, I'm afraid.

[2016-04-01 11:38] polashbora commented on #237
I am attaching 2 snapshots for clarity.
Suppose I have some islands in QGIS.
1. We can label all of them as one (default behavior)
![single-label](https://cloud.githubusercontent.com/assets/4884865/14205827/eeb291c6-f82b-11e5-98d9-894cea0194c8.PNG)

2. We can repeatedly label them i.e. same label repeated for each closed polygon. Kind of messy in certain cases.
![multpart-feature-label](https://cl

[2016-04-01 11:56] luipir commented on #236
no minidump created?

btw... first test is to run the plugin in an isolated way => remove all plugins  (or remove/rename .qgis2 folder in your home)... and install only the qgis2web... then check again

[2016-04-01 12:19] tomchadwin commented on #237
I've asked for help here:

http://stackoverflow.com/questions/33484283/restrict-labeling-to-one-label-for-multipolygon-features

See my comment on the answer.

[2016-04-01 16:30] Naturtecnica commented on #231
Love it, thanx!

[2016-04-01 17:32] tph018 commented on #236
Does QGIS running on Ubuntu generate minidumps when it crashes?

I am at a lost.

I have tried to remove all QGIS plugins and simply install the lone qgis2web plugin and still get the crash.

I have removed QGIS and re-installed QGIS as follows within a terminal session:
1.sudo apt-get autoremove qgis
2. sudo apt-get --purge remove qgis
3. remove the ~/.qgis2 folder and the ~/.config/QGIS folder
4

[2016-04-01 19:07] tomchadwin commented on #236
With a clean install, but with some data loaded, does the crash still happen?

[2016-04-01 19:40] tph018 commented on #236
Hi Tom,

Yes, with a clean install but with basic spatial data loaded (in this case, a simple boundary file from a postgis database), QGIS still crashes the moment I choose to open up qgis2web.

On other servers that I work on (using Ubuntu OS or Mac OS), both QGIS and qgis2web work fine without the issues that I experience on this particular Ubuntu 14.04.2 LTS server.

[2016-04-02 10:20] tomchadwin commented on #236
I think you'll have to find the dump file. Where is it dumped,  @luipir? I wonder if something in QSettings is causing the crash.

[2016-04-02 11:43] furvius opened #238 "polygon edge style"
If "no border line" option of a polygon is selected, when you activate that layer it makes disappear all the visible layers on the map.

[code]
That's why:

[2016-04-02 13:01] pcav commented on #148
Confirmed here, both on OL3 and on leaflet: a coloured DTM turns out as grayscale.

[2016-04-02 13:05] pcav commented on #148
I'm using a sample project (geomorpho) and data from:
https://github.com/qgis/QGIS-Documentation/tree/master/source/docs/training_manual/exercise_data/processing/more_backends

[2016-04-02 13:06] pcav opened #239 "Vector data displayed in OL3, not in Leaflet"
I'm using a sample project (geomorpho) and data from:
https://github.com/qgis/QGIS-Documentation/tree/master/source/docs/training_manual/exercise_data/processing/more_backends
all default options.

[2016-04-04 08:20] magerlin commented on #227
Sorry for late answer, been away on easter holliday...

Using latest release 1.5.0 gives this error

Error

qgis2web produced an error:

Traceback (most recent call last):
File "C:/Users/MAP/.qgis2/python/plugins\qgis2web\maindialog.py", line 123, in previewMap
MainDialog.previewLeaflet(self)
File "C:/Users/MAP/.qgis2/python/plugins\qgis2web\maindialog.py", line 304, in previewLeaflet
visible, clu

[2016-04-04 08:22] magerlin commented on #227
Just adding: The built in templates gives no error...

[2016-04-04 08:26] magerlin commented on #229
I can confirm it is working now :-)

[2016-04-04 08:26] magerlin commented on #228
I can confirm it is working

[2016-04-04 08:44] magerlin opened #240 "Not obvious how to deselect background maps once selected"
Once you have clicked in the lower right pane and selected a background map it seems at first view like you can only change the selection to another background map. Trying random clicks I found that CTRL+Left Click deselects a selected map.

Since this is not very obvious I suggest a "No background map" as the top option in the lower right panel?

Or at least to mention the CTRL+Left Click in the

[2016-04-04 09:50] luipir commented on #236
@tph018 is tight... minidump es algo solo de windows. I think is out of scope of this issue to explain how to debug under linux or remote debug python plugins. All the informations are available on the web or qgis.stackexchange.com and it's really hard to be synthetic.

the simplest way to have a rough idea where there could be a crash is to run qgis under gdb doing

gdb <qgis executable>
gdb> r (

[2016-04-04 20:24] freewheelCarto commented on #224
This makes sense to me.  you could just have a 'no popups' checkbox for if you don't want them. Otherwise, people probably already have their data organized for what they want to show.

[2016-04-05 07:21] magerlin commented on #230
Manually changing "spiderfyDistanceMultiplier:1" to "spiderfyDistanceMultiplier:2" in the created js\leaflet.markercluster.js file solved the problem

[2016-04-06 09:08] ernapiantari commented on #213
@tomchadwin I have same problem with @ametz112. When I used QGIS2WEB for a little layer, I got it. But when I tried to add some other layer, I got error message same with @ametz112. Can you help me?

[2016-04-06 09:17] philipjohnbarlow commented on #121
Sorry Tom, only just come back to this after going over some notes from the conference.  Yes, that looks like the equivalent (comparing it with the OL one).

[2016-04-06 12:50] boesiii commented on #213
Are you able to upload the "some other layer" so we can look at the layer?

[2016-04-06 20:51] boesiii opened #241 "Change measurement to feet"
It would be nice to be able to have the an option in the measure tool to use feet instead of meters.

[2016-04-07 14:31] boesiii opened #242 "OL3 measure output incorrect"
I have added the measure tool to an ol3 map and the output seams to be incorrect.  You can easily test this by adding a scale bar to your web map and measure the scale bar.  I was measuring a scale bar that said 10 km but the measurement was coming up 13 km.  The leaflet map looks to be giving correct measurements.

[2016-04-07 14:54] boesiii commented on #242
The issue has to do with geodesic measurements.  We will need to add some code.  I am working on a fix.

[2016-04-11 11:19] tomchadwin commented on #227
Thanks for the feedback - I've been away for a week too - and sorry it's still not sorted for you. Will have to investigate, as my tests had this sorted.

[2016-04-11 11:21] tomchadwin commented on #240
I thought it was mentioned in the help tab - must check. There used to be a "None" option, but that didn't make any UI sense with a multi-select widget.

[2016-04-11 11:22] tomchadwin commented on #240
You're right - Help only mentions CTRL/CMD-click for multiple selections, not deselecting. Will update. Thanks for pointing it out.

[2016-04-11 11:23] tomchadwin commented on #236
Thanks for the help, @luipir. I understand what you say that a crash is out of scope, but since qgis2web seems to cause it, I'm not sure I agree. @tph018, can you follow @luipir's instructions and see if that gives us any more info?

[2016-04-11 11:24] tomchadwin commented on #224
OK, I think this is the way to go. Thanks for the feedback. Will do this when I can. Will be a good bit of work to unpick the existing code.

[2016-04-11 11:25] tomchadwin commented on #230
Glad you found a solution.

[2016-04-11 11:26] tomchadwin commented on #121
@mtravis - you still able to look at this?

[2016-04-11 11:28] tomchadwin commented on #213
@ametz112 @ernapiantari Yes, can you upload the data which causes the crash? @boesiii is right - we need that to solve this problem.

[2016-04-11 11:40] tomchadwin commented on #241
I'm not sure I want to add to the GUI for this. What do others think?

[2016-04-11 11:59] tomchadwin commented on #242
I'm pretty surprised that gives a 30% error, but I'm not a geographer. Thanks for looking into it.

[2016-04-11 12:49] luipir commented on #236
@tomchadwin crash is not out of scope... explaining how to debug is out of scope, because it's a common debug procedure that can be found on the web.

[2016-04-11 13:09] tomchadwin commented on #236
Understood. Can you make any progress, @tph018?

[2016-04-11 13:28] tph018 commented on #236
@tomchadwin,

Let me look into this and see how I may generate further details in the upcoming days before reverting back... For now, I have been working around this crash issue by using qgis2web on another server altogether.

[2016-04-11 13:36] boesiii commented on #224
What if a shapefile you are using has many fields?  It is not easy to make them all hidden, so i would say leave it as is?

[2016-04-11 16:38] mtravis commented on #121
I'll try and have a look over the next couple of days.

[2016-04-12 10:09] tomchadwin commented on #227
Ah, I've found the error - fix coming.

[2016-04-12 10:11] tomchadwin commented on #227
Fix committed to master - please test.

[2016-04-12 10:12] #227 closed

[2016-04-12 10:12] tomchadwin commented on #240
Help text updated in master

[2016-04-12 10:12] #240 closed

[2016-04-12 10:15] tomchadwin commented on #238
Confirmed in OL3 output - works in Leaflet. Working on a fix.

[2016-04-12 10:28] tomchadwin commented on #238
Fixed in master - please test. However, I think stroke styles (dashed, dotted, etc.) are now broken in OL3. Will close this and open another ticket for that.

[2016-04-12 10:28] #238 closed

[2016-04-12 13:19] tomchadwin opened #244 "Test WFS point layer broken by Matt"
See https://travis-ci.org/tomchadwin/qgis2web/builds/122509839

You villain, @mtravis. What have you done to http://maps.nationalparks.gov.uk/geoserver/wfs?SERVICE=WFS&VERSION=1.0.0&REQUEST=GetFeature&TYPENAME=dartmoor:dnpa-tpo-point&SRSNAME=EPSG:27700?

@mtravis has broken @travis-ci. Pffft.

[2016-04-12 14:38] boesiii opened #245 "Printing map from browser causes map to be streched"
The printed result from a web browser causes map to be stretched and skewed.  Is there anything that can be done to prevent it from happening?  To recreate simply export any map then use the browser print preview to see the output.

[2016-04-12 14:42] tomchadwin commented on #245
I think that falls outside the scope of the plugin. qgis2web takes maps from a print-based application (QGIS) to make webmaps out of them. Really not sure how worth it is trying to improve the printed output of the webmaps, when users of the plugin by definition have the means to create print-friendly versions directly from QGIS (static images, PDFs, etc).

If a good solution can be devised, happy

[2016-04-12 14:42] #245 closed

[2016-04-12 15:21] boesiii commented on #245
I use qgis2web so that my end-users can easily access GIS information without having to install\learn\use a desktop application, so most of my users don't have QGIS.

[2016-04-12 15:22] tomchadwin commented on #245
No, I mean that *you* do, so you can create a PDF/whatever, to link to alongside the Leaflet/OL3 map.

[2016-04-12 15:51] tomchadwin commented on #244
Adding a BBOX to the WFS URL disables feature caching.

[2016-04-12 15:51] #244 closed

[2016-04-12 17:04] boesiii commented on #245
The issue does not occur with Leaflet

[2016-04-12 18:25] tomchadwin commented on #245
Interesting. Anything Googlable about the issue with OL3 more generally? You come across this,  @walkermatt?

[2016-04-12 20:59] boesiii commented on #245
i think it is an issue with OL3 because the issue occurs with an OL3 example.

[2016-04-13 07:20] tomchadwin commented on #244
Released as 1.5.1 and pushed to QGIS plugins repo.

[2016-04-13 07:21] tomchadwin commented on #240
Released as 1.5.1 and pushed to QGIS plugins repo.

[2016-04-13 07:21] tomchadwin commented on #238
Released as 1.5.1 and pushed to QGIS plugins repo.

[2016-04-13 07:22] tomchadwin commented on #227
Released as 1.5.1 and pushed to QGIS plugins repo.

[2016-04-13 07:57] mtravis commented on #244
Good to know. The layer is a view of a mixed geometry table so that may explain it.

[2016-04-14 12:07] tomchadwin commented on #239
Just tested, and works here:

https://www.dropbox.com/s/niql2zxpz1m078k/Screenshot%202016-04-14%2013.06.16.png?dl=0

[2016-04-15 08:59] tomchadwin opened #246 "Preview doesn't work with proxy authentication"

[2016-04-15 09:00] tomchadwin commented on #246
Fix committed to master. Please test.

[2016-04-15 09:00] #246 closed

[2016-04-15 09:37] tomchadwin commented on #246
Released as 1.6.0 and pushed to QGIS plugins repo.

[2016-04-15 15:37] magerlin opened #247 "Layer Transparency Scale is reversed in exported Openlayers3 Maps"
When I in Qgis in "Style", "Layer Rendering", "Layer Transparency" sets a small transparency value like say 10% the exported Openlayers3 maps looks like having a 90% transparency.

Setting individual symbol transparencies works as it should and Leaflet map works too.

[2016-04-15 15:39] tomchadwin commented on #247
Confirmed. Nice spot! Will investigate.

[2016-04-15 15:44] tomchadwin commented on #247
Fix committed to master. Please test.

[2016-04-15 15:44] #247 closed

[2016-04-15 18:25] Zeitsperre opened #248 "Using CDN for .js option doesn't load tiles properly"
I've noticed that the CDN option for leaflet scripts is broken. For me, choosing it and trying to preview/export maps makes the tiles appear out of order/misaligned and no data is shown. Not sure if this is a known bug or a configuration issue. Local option works fine since last update. Running QGIS 2.14.1 on Debian 8.
![screenshot from 2016-04-15 14 22 50](https://cloud.githubusercontent.com/asse

[2016-04-18 06:42] magerlin commented on #227
Works well now

[2016-04-18 06:43] tomchadwin commented on #227
Great. Thanks for testing and reporting back.

[2016-04-18 09:50] tomchadwin opened #249 "Migrate to QGIS Alaska test data"
The current test data SHPs are not very cartographically meaningful (line and poly, anyway). Migrate the tests away from those, and instead have the test suite download https://qgis.org/downloads/data/qgis_sample_data.tar.gz.

- [x] confirm test data licences permit this use case
- [x] rewrite tests to use new test data
- [x] generate new QML files for styles where required (categorized/graduated)

[2016-04-18 09:58] magerlin commented on #227
Just realized that I will have to manually put the "canvas-size.html" and "full-screen.html" templates in the new "C:\Users\XXX\.qgis2\qgis2web\templates" folder since they are not read from the old folder "C:\Users\XXX\.qgis2\python\plugins\qgis2web\templates" anymore. Is this by intention?

[2016-04-18 10:06] magerlin commented on #247
Works as expected now :-)

[2016-04-18 10:08] tomchadwin commented on #227
No, they should be copied over when first run. If it's not too much to ask, can you uninstall qgis2web and delete `.qgis2/qgis2web`, then reinstall qgis2web and look at the contents of the `.qgis2/qgis2web` folder to see if the templates are there?

[2016-04-18 10:20] magerlin commented on #227
Totally removing Qgis2web **AND** the "C:\Users\XXX\.qgis2\qgis2web\templates" folder makes "canvas-size.html" and "full-screen.html" being copied to a new created "C:\Users\XXX\.qgis2\qgis2web\templates" folder.

But if "C:\Users\XXX\.qgis2\qgis2web\templates" already exists the templates are NOT copied.

This means that when updating the plugin the "canvas-size.html" and "full-screen.html" are n

[2016-04-18 10:26] tomchadwin commented on #227
I understand now. However, since there is nothing to prevent users making their own modifications to those two templates, I'd argue that they should not be overwritten, as that would be the equivalent of the issue you first reported, with an upgrade destroying user data.

[2016-04-18 10:31] magerlin commented on #227
I see your point - but could there not be a situation where you add some new features which requires some new code in the templates? At least user will then have to be made aware the the update requires some manual copying.

[2016-04-18 10:33] tomchadwin commented on #227
There could, yes. Two ways round it:

1. If that happens, I version the filenames, or give them different names
2. Write a whole bunch of code which diffs the install templates to the ones already installed on the user's PC and overwrites if they are uncustomized.

[2016-04-18 10:35] magerlin commented on #227
Option one sounds like a fine solution :-)

[2016-04-18 10:37] magerlin opened #250 ""Visible" toggle has no effect in Leaflet"
All layers are always visible in the generated Leaflet map on map load.

Thought I could change it manually but it seems to be deep buried in some of the js files?

Works OK in OpenLayers

[2016-04-18 10:40] tomchadwin commented on #227
And a loss less code, so I'm happy.

[2016-04-18 10:40] tomchadwin commented on #247
Great - thanks for confirming.

[2016-04-18 10:47] magerlin opened #251 "New feature suggestion: Collapsible legends in Leaflet maps?"
I prefer the Leaflet maps from Openlayers since they automatically has a legend with symbols.

But there is not going to be that many layers with a bunch of symbols before the whole page height is used and the bottom most layers disappear with no scrolling.

A neat solution would be collapsible legends like in Qgis and a control in the plugin to set the initial state collapsed or open. But perhaps

[2016-04-18 11:18] tomchadwin commented on #250
Confirmed. Will look into it.

[2016-04-18 12:46] tomchadwin commented on #251
I can certainly look at this. I would also love to be able to add the icons to the OL3 layers list. @walkermatt, is there a mechanism for passing in images to your OL3 layer switcher?

[2016-04-18 15:34] tomchadwin commented on #249
Committed to master. New test data is in /test/data/layer. Old test data removed.

[2016-04-18 15:34] #249 closed

[2016-04-19 09:36] tomchadwin commented on #248
Confirmed. Wow, what a mess! Anyone have any ideas what's causing this?

[2016-04-19 09:37] tomchadwin commented on #248
It's not finding the Leaflet CSS on the CDN. Must have changed the naming in some way. Looking into it now.

[2016-04-19 09:38] tomchadwin commented on #248
Ah, no, some kind of code typo, leading to `http://http` in the address.

[2016-04-19 09:40] tomchadwin commented on #248
Fix committed to master. Please test.

[2016-04-19 09:40] #248 closed

[2016-04-19 09:48] tomchadwin commented on #250
It's the layer stacking order hack which causes this. Will see if I can work around it.

[2016-04-19 12:17] tomchadwin commented on #250
Fix committed to master. Please test.

[2016-04-19 12:18] #250 closed

[2016-04-20 08:28] LAdrain opened #252 "Toggle all layers off"
It would be very useful to have a toggle option to turn all layers visibility on or off from the web page.

Only just started to use qgis2web, so apologies if this has been addressed elsewhere.

[2016-04-20 08:42] tomchadwin commented on #252
No. it's not been requested before.

[2016-04-20 12:29] tomchadwin opened #253 "Leaflet always deletes unused fields"
If "Delete unused fields" is *un*checked, the exported JSON should contain all fields from the source data. I don't think Leaflet does this, always only exporting the used fields. This makes "Delete unused fields" non-functional in Leaflet. Do others agree that this is the case?

[2016-04-20 21:33] magerlin commented on #250
Works OK now!

[2016-04-20 23:24] tomchadwin commented on #250
Splendid. Thanks for testing and confirming.

[2016-04-21 09:15] walkermatt commented on #251
The [ol3-layerswitcher](https://github.com/walkermatt/ol3-layerswitcher/) doesn't currently support swatches but it's something I'd consider as an enhancement. I'll take a look at the Leaflet control.

[2016-04-21 12:33] tomchadwin opened #254 "Fields with image edit widgets should display as images in popups"
Is this possible? I've had quite a lot of requests for pics in popups...

[2016-04-21 12:52] philipjohnbarlow commented on #254
I just do it with html and it isn't much of a faff to be honest.  Say you have a layer with a column for your image path you just use the field calculator to update or add a new row and concatenate e.g.

CONCAT('<img src=","name of column with filepaths",'" width="400"><img>

Then you'd just run the plugin and there is your photo in your pop-up

[2016-04-21 12:53] tomchadwin commented on #254
That's too hard for a big portion of the target audience of the plugin, in my opinion. And for all of us, automating it saves time.

[2016-04-21 12:55] philipjohnbarlow commented on #254
Fair enough (any way to stop git hub rendering my post as html?)

[2016-04-21 12:58] tomchadwin commented on #254
Enclose code with backticks (`), or treble-backticks for paragraphs. You can also specify the language of the code you are writing, and it will syntax highlight and so on:

https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown

[2016-04-21 15:42] tomchadwin opened #255 "Export folder test not working"
The Export folder test is not working (https://github.com/tomchadwin/qgis2web/blob/master/test/test_qgis2web_dialog.py#L2000):

[code]

This fails to set the folder. How do I do it?

[2016-04-22 09:37] tomchadwin commented on #255
I've tried various commands, but I'm still not managing to change the text value of a QTreeWidgetItem (second column) in the context of this test. Can anyone help? @walkermatt, @akbargumbira?

[2016-04-22 10:36] tomchadwin opened #256 "Restrict to extent?"
How well does the `Restrict to extent` option work? From reading the code, it has _no_ effect in Leaflet. I can see that it sets an `extent` in OL3, but I'm not sure what it actually achieves in practice.

What I'm driving at is, can we develop this functionality so it works properly? Or should I just get rid of the option completely?

[2016-04-22 10:57] tomchadwin commented on #256
OK, I've implemented `Restrict to extent` in Leaflet, and I think we'll live with the existing functionality in OL3 (unless anyone can point me towards a better implementation somewhere.

[2016-04-22 12:17] tomchadwin opened #257 "Prevent Leaflet markercluster includes when not required"

[2016-04-22 12:17] tomchadwin opened #258 "Prevent Leaflet OSMBuildings includes when not required"

[2016-04-22 13:10] tomchadwin commented on #255
I think the issue was that I was trying to retrieve the `itemWidget` from that `QTreeWidgetItem`. Because it's text, it doesn't have a widget. I think.

[2016-04-22 14:12] #255 closed

[2016-04-22 14:13] tomchadwin commented on #180
Most features now have tests, so I'll close this for now.

[2016-04-22 14:13] #180 closed

[2016-04-24 19:02] tomchadwin commented on #239
Closing with no feedback. Reopen as required, @pcav.

[2016-04-25 13:18] pcav commented on #239
Not the same project. Just testet, I confirm the issue. See attached.
![qgis2web_geomorpho](https://cloud.githubusercontent.com/assets/691842/14785044/fe8cad04-0af8-11e6-9152-3118e22ce8d2.png)

[2016-04-25 13:28] tomchadwin commented on #239
Let me reopen and check - I can see which layers you are using now.

[2016-04-25 14:59] tomchadwin commented on #239
Works for me:

![screenshot 2016-04-25 15 57 17](https://cloud.githubusercontent.com/assets/7840213/14788131/7e485070-0afe-11e6-9469-759d8f414a87.png)

The raster is unstyled, but that's an existing issue #148. Are you sure it's not just that the vector layers are there, but stacked under the raster?

[2016-04-25 15:14] fpuga commented on #104
I'm also interested in this feature. The "scale-based visibility" for labels can be set in Properties -> Labels -> Rendering (I attach a screenshot).

BTW, many thanks for the plugin.

[2016-04-25 15:43] pcav commented on #239
If I deactivate the dtm, the vectors show off correctly. However, in OL3 they are in the correct order. For some reason, in leaflet the dtm is brought over the others.
Let me chack if this is due to other plugins.

[2016-04-25 15:44] tomchadwin commented on #239
No, I think it is likely to be the hacks involved in trying to approximate layer order in Leaflet. Should be better with Leaflet 1.0

[2016-04-25 16:17] pcav commented on #239
Confirmed, with a clean --configpath, same issue.

[2016-04-26 15:38] tomchadwin commented on #94
"Precision: maintain" committed to master. Please test.

[2016-04-26 20:44] osm-chenshi opened #260 "add a bing aerial layer for someone who has a own bing key"
can you please add a bing aerial layer. i got myself a bing key but i dont know or dont want to add manually the code to the exported data.

[2016-04-27 10:04] magerlin opened #261 "Suggestion: Add Google Aerial as background map"
Perhaps not striclty Open Source ????

It can be done manually like this:

Download these leaflet plugins: [https://github.com/shramov/leaflet-plugins](https://github.com/shramov/leaflet-plugins).

Create a map with no background in Qgis2web.

Extract downloaded zip file and copy google.js from "leaflet-plugins-master\layer\tile" to the js folder created by Qgis2web.

Add this to the index.html fi

[2016-04-27 12:05] tomchadwin commented on #261
I'm not sure - as you say, not open. Same goes for #260

[2016-04-27 12:06] tomchadwin commented on #261
Plus we'd need a solution for OL3 export as well.

[2016-04-27 12:24] tomchadwin commented on #260
I'm not sure we should go down this route, given that Bing is not open.

[2016-04-27 13:44] tomchadwin commented on #247
Released as 1.7.0 and pushed to QGIS plugins repo.

[2016-04-27 13:45] tomchadwin commented on #248
Released as 1.7.0 and pushed to QGIS plugins repo.

[2016-04-27 13:46] tomchadwin commented on #250
Released as 1.7.0 and pushed to QGIS plugins repo.

[2016-04-27 13:46] tomchadwin commented on #94
Released as 1.7.0 and pushed to QGIS plugins repo.

[2016-04-27 13:50] tomchadwin commented on #256
Released as 1.7.0 and pushed to QGIS plugins repo.

[2016-04-27 13:50] tomchadwin commented on #249
Released as 1.7.0 and pushed to QGIS plugins repo.

[2016-04-27 13:51] tomchadwin commented on #255
All working now. Released as 1.7.0 and pushed to QGIS plugins repo.

[2016-04-28 10:15] tomchadwin commented on #261
I think I'll close for now - if people really need it, they can code it. Let's try to stay open.

[2016-04-28 10:15] #261 closed

[2016-04-28 10:16] tomchadwin commented on #260
I'll close this, as I would like to keep qgis2web as open as possible.

[2016-04-28 10:16] #260 closed

[2016-04-28 11:25] philipjohnbarlow opened #262 "SVG markers not supported for categorised based rendering"
Produces the following error:

Traceback (most recent call last):
File "C:/Users/philipb/.qgis2/python/plugins\qgis2web\maindialog.py", line 125, in previewMap
MainDialog.previewLeaflet(self)
File "C:/Users/philipb/.qgis2/python/plugins\qgis2web\maindialog.py", line 304, in previewLeaflet
visible, cluster, json, params, popup)
File "C:/Users/philipb/.qgis2/python/plugins\qgis2web\leafletWriter.py"

[2016-04-28 11:28] philipjohnbarlow commented on #262
Sorry I meant categorised, I am aware that rule is not supported.

[2016-04-28 11:34] tomchadwin commented on #262
You just saved me typing that reply. OK, will investigate - sounds as though you are probably right, though. I'm fairly sure that categorized and graduated assumes that it is a simple marker.

This one could be a swine to fix, actually. Might be OK in OL3 because Victor and Luca's code is properly modularized. Not so much the Leaflet stuff, though. Thanks a bunch, Phil...

[2016-04-28 11:41] philipjohnbarlow commented on #262
I'm surprised someone hasn't noticed before, I didn't even think to try until just now.  I'm working on some maps for an HLF bid that have invasive non-native species categorised by species for which I am using SVG markers.  It doesn't have to be a web map but I ran the plugin just to see if it would export it.

[2016-04-28 11:45] tomchadwin commented on #262
Workaround is of course to split the layer out into separate layers. Still worth investigating a fix.

[2016-04-28 11:47] tomchadwin commented on #262
Python error occurs with Leaflet. OL3 produces no error, but also produces no output. Agreed?

[2016-04-28 12:37] philipjohnbarlow commented on #262
Agreed.

[2016-04-28 15:27] tomchadwin commented on #219
Just built an Ubuntu VM, but cannot get tests to run locally:

[code]

How do I solve this?

[2016-04-28 15:27] tomchadwin commented on #219
Duh. I haven't installed nose. Sorry. Linux n00b.

[2016-04-28 16:51] tomchadwin commented on #219
OK, got nose running the tests fine, but it doesn't like my SHPs:

[code]

Two other tests fail:

[code]

All of these pass in Travis, and for @walkermatt and @akbargumbira. What is wrong in my fresh install?

[2016-04-28 17:22] walkermatt commented on #219
Which directory are you running the tests from? Can you post the commands you run? For example I ran:

    cd ~/.qgis2/python/plugins/qgis2web
    source scripts/run-env-linux.sh /usr
    make test

[2016-04-28 17:26] tomchadwin commented on #219
Another n00b error: I presumed that my environment meant I had to set QGIS_PREFIX_PATH to `/usr/bin`. Leaving it as `/usr` has the tests all running. Thanks very much for the help, and apologies for the noise.

[2016-04-28 18:14] Zeitsperre opened #263 "Suggestion: Transparency sliders for layers"
One feature that's prominent on many web-gis interfaces is an adjustment slider for transparency when overlaying multiple polygon datasets. Setting static transparency with QGIS translates well into generated qgis2web maps but It would be interesting to see this adjustable functionality in OL3/Leaflet.

[2016-04-28 19:28] boesiii opened #264 "Add area measurement"
Should I work on adding an area measurement option?

[2016-04-28 20:45] tomchadwin commented on #263
If this can be implemented as part of the layers list in each library, then I agree that this would be useful, so long as it is optional. Can anyone implement an alpha slider in the Leaflet or OL3 layers list generated code?

[2016-04-28 20:50] tomchadwin commented on #264
By all means - do check what functionality comes out of the box with the Leaflet measure plugin. The OL3 code came from the OL3 code examples page, and that might have an area option.

- https://github.com/makinacorpus/Leaflet.MeasureControl/commits/gh-pages (I think it's this one)
- http://openlayers.org/en/v3.11.0/examples/measure.html

[2016-04-28 20:51] tomchadwin commented on #264
Oh, and if it's done, can it just be enabled automatically with linear measure, both at the same time? I don't want the qgis2web UI to overbalance with measurement options.

[2016-04-28 20:54] tomchadwin commented on #242
Just seen what I presume is the answer to this where the code came from:

- http://openlayers.org/en/v3.11.0/examples/measure.html

I guess when I used that code, I just left geodesic unimplemented, as that was the default in the example.

Non-geographer question: I presume some projections are geodesic, some planar? If so, is there a way to determine from the QGIS CRS which a given projection is?

[2016-04-28 21:30] tomchadwin commented on #219
Added these local testing instructions to README.

[2016-04-29 11:12] tomchadwin commented on #242
I think the answer to my non-geographer question is yes. Can you use `QgsCoordinateReferenceSystem.geographicFlag()` to drive whether measurement should be planar or geodetic?

[2016-05-03 05:40] mayureshbhole commented on #236
i have also same issue in windows when qgis2web run shutdown my entire system

[2016-05-03 09:26] tomchadwin commented on #236
@mayureshbhole Please can you open a new issue for that? This one relates to a crash on Ubuntu. If you can give more details on your new issue, it will give us a chance to investigate.

[2016-05-03 09:27] tomchadwin commented on #236
@tph018 I'm going to close this for now through lack of feedback. Please do reopen if you experience this again and if you can provide further details, especially steps to reproduce.

[2016-05-03 09:27] #236 closed

[2016-05-03 11:28] magerlin opened #265 "SVG markers in Leaflet not working when published on the net"
When I use SVG markers in a Leaflet map the markers are shown both in Plugin Preview and when I open the created web page from my hard drive.

But when uploaded to the web the markers are gone: http://byogtrafik.ramboll.dk/akv/test/#5/-7.863/56.426

The pages created by the plugin are here:
[qgis2web_1462273668.79.zip](https://github.com/tomchadwin/qgis2web/files/246760/qgis2web_1462273668.79.zip)

[2016-05-03 11:50] tomchadwin commented on #265
The requests for the following files are getting a 404 from the server:

[code]

[2016-05-03 12:19] magerlin commented on #265
Sorry - this seems to be a problem with my server.
It has once been solved but apparently now reappears: svg files are not per default supported in Microsoft IIS

[2016-05-03 12:49] tomchadwin commented on #265
Great - did you have to add the MIME type?

[2016-05-03 12:53] magerlin commented on #265
Yes - last time it was fixed by our tech guy by adding MIME type image/svg+xml.

He is unavailable right now, so I have not had the chance to get it done again but I hope it will solve the problem. I can see that with just a simple uploaded SVG file I also get the 404 error

[2016-05-03 14:42] tomchadwin commented on #265
Did you intentionally reopen this issue?

[2016-05-03 17:16] magerlin commented on #265
No it was a mistake. By the way I found out how to ad the mime type myself by just adding a web.config file in the root folder.

[2016-05-03 17:16] #265 closed

[2016-05-04 09:03] tomchadwin commented on #265
Perfect - glad you got sorted.

[2016-05-04 15:45] tomchadwin commented on #241
Added to master by @boesiii, released as 1.8.0, and uploaded to QGIS plugins repo. Please test.

[2016-05-04 15:45] #241 closed

[2016-05-05 14:17] tomchadwin commented on #88
Leaflet is now at RC1 - I'd be grateful for some help testing. Things to look at:

- check that the Leaflet plugins we use work
- see how layer stacking order can be improved and simplified with panes

[2016-05-05 14:23] tomchadwin opened #266 "QGIS3 compatibility"
When nightlies start to become available, we need to start working towards compatibility. Make use of @m-kuhn's initial guidelines:

http://www.opengis.ch/2016/03/23/prepare-your-plugins-for-qgis-3/
- replace star imports
- remove `str()` and `unicode()` wherever possible
- ~~replace `QWebView`~~

The first point above can be worked on now. The others will have to wait for a dev version to appear.

[2016-05-05 14:51] boesiii commented on #88
What do you mean by "with panes"?

[2016-05-05 14:56] tomchadwin commented on #88
http://leafletjs.com/reference.html#map-panes

[2016-05-07 15:54] Echbart opened #267 "Qgis2web .tif raster has black line"
Im using latest Qgis Essen with latest Qgis2web plugin. I import my .tif raster of filtered and visualized LiDAR data and I get at top and bottom of raster a black band.

MY raster and project CRS is Slovene National Grid (SNG) EPSG: 3794. I guess it has to do something with plugin not supporting SNG. When i check Match Project CRS nothing happens.

Here is picture showing the issue.
![qgis2web](h

[2016-05-08 19:39] walkermatt commented on #218
I've been looking at this over the last few days and almost have something workable. I think medium term we probably want to create a measure control but I'll focus on fixing up the current implementation first.

[2016-05-09 11:04] tomchadwin commented on #267
The exported map is in EPSG:3857, which is why the raster is skewed. Try "Match project CRS", though this will stop basemaps from displaying, as they are only available in EPSG:3857. As I mentioned on StackExchange, I'm not sure rasters are properly reprojected, though. We need to see what happens.

[2016-05-09 11:05] tomchadwin commented on #218
Brilliant - thanks, Matt. What was the conflict?

By the way, are you going to FOSS4GUK? Can you stay for the sprint?

[2016-05-09 11:27] magerlin opened #268 "Better replication of QGIS styling in Leaflet"
In the produced Leaflet maps lines are thinner and point markers are smaller than in the original QGIS map:
![screenshot 2016-05-09 13 19 36](https://cloud.githubusercontent.com/assets/1887531/15111776/adbd7c90-15e9-11e6-9998-81dadd607cf8.png)

And point markers are missing the black border they had in QGIS.

[2016-05-09 11:37] magerlin opened #269 "Mismatch between Legend and map styles"
In the produced Leaflet maps the styling shown in the legend does (often?) not match the style shown on the map:
- Polygon borders are in the legend are too wide
- The radius on point markers (dots) is too big. Furthermore the dots have a border in the legend (as it had in QGis) but there is no border around the dots on the map.

![image](https://cloud.githubusercontent.com/assets/1887531/15111843

[2016-05-09 12:17] tomchadwin commented on #268
Yes, it's a long-standing issue. If you are able to help, I'd appreciate it. Open `leafletScriptStrings.py` in a text editor, and search for the string `* 4` - there are multiple instances (Tom = bad coder). Change the `4` to other values to see what works best. Use the QGIS plugin `Plugin Reloader` so you don't have to restart QGIS each time you make a change.

One thing to note - the plugin does

[2016-05-09 12:21] magerlin commented on #268
I'll take at look at it :-)

[2016-05-09 12:30] tomchadwin commented on #268
Thanks you - it's very much appreciated. I've just never found the time to sort this one out...

[2016-05-09 12:55] tomchadwin opened #270 "Code sprint at FOSS4GUK 16 June 2016"
There is a code sprint on the third day of FOSS4GUK, and I hope to get some contributions to qgis2web. Anyone attending FOSS4GUK, please come along. Anyone not there, who can get online and spare some time 0930-1700 GMT+1, do sign up to https://gitter.im/tomchadwin/qgis2web, and we can keep in touch via that.

Here are some possible areas of work:

### Features
- layer groups (https://github.com/t

[2016-05-09 13:33] Zeitsperre commented on #267
As a workaround for the raster issue (and because it's generally quicker to render), I've been using Qtiles to generate a TMS-formatted slippy map overlay and then adding that directly into QGIS2web data folders and index files. I'd suggest adding this as an option for handling/processing rasters but I have zero experience in plug-in development.

[2016-05-09 13:39] tomchadwin commented on #267
Automatic tiling has been requested before, and I've said no because other plugins do it. Out of interest, how do you add the tiled layer into QGIS? I've been wondering about whether it would be possible to detect non-WMS tiled layers, and import them automatically. However, because tileserver layers are not a native QGIS layer format, I've not pursued it any further.

Any ideas welcome.

[2016-05-09 14:09] magerlin commented on #268
I been playing with it, but I think there is a fundamental problem with writing:

                     borderWidth=borderWidth * 4, as you do in line 264

I can change  4 to any number even zero and nothing happens. But writing borderWidth= 2 changes the border width.

Writing  radius = radius * 4 in line 262 makes the whole map disappear, while writing raduis = 15 makes nice big circles.

I have

[2016-05-09 14:33] Zeitsperre commented on #267
It's handled the same way as if adding a basemap. The Qtiles formatting adds the .png directory using L.tileLayer('file:address/here/{zoom}/{x}/{y}') and then uses L.control.layers to add them in as overlays. I've been using that plugin as it preserves raster styling and doesn't create any black NULL area borders.

I typically add my overlays in as an additional basemap just after 'map' is defined

[2016-05-09 15:19] tomchadwin commented on #267
No, how are the layers added in *QGIS*, not Leaflet. I want to know so we could consider detecting them automatically and building them in the export.

[2016-05-09 15:21] tomchadwin commented on #268
OK, I'll see if we can look into it at some stage - thanks for the initial thoughts.

[2016-05-09 15:39] Zeitsperre commented on #267
Ah, I haven't been adding the slippy maps back into QGIS, though TileLayersPlugin boasts that it can handle local directories of WMS tiles using a simple definition file. Again, I haven't used that plugin. Sorry!

[2016-05-09 15:46] tomchadwin commented on #267
Oh, I see. Apologies for misunderstanding. Still think it could be possible... Thanks.

[2016-05-10 10:58] magerlin opened #272 "Wrong attribute data in popup window (Leaflet & OpenLayers)"
In generated maps data values for attribute "tourism" are displayed also for the "name" attribute (in all points. "Show all" is chosen for popups):

![image](https://cloud.githubusercontent.com/assets/1887531/15144218/53232b34-16ae-11e6-8b55-1d204e18b878.png)

Data:
[Tourism.zip](https://github.com/tomchadwin/qgis2web/files/256996/Tourism.zip)

[2016-05-10 11:01] tomchadwin commented on #272
No CRS in that SHP? What are you using?

[2016-05-10 11:24] magerlin commented on #272
Sorry - it is a user generated CRS. Here it is in WGS84: [Tourism_WGS84.zip](https://github.com/tomchadwin/qgis2web/files/257026/Tourism_WGS84.zip)

But strange thing is that when I open the original shapefile in a new blank project file the problem is gone.

I have earlier experienced, that project files keep old dirt (even for layers no longer in the project). Maybe that is the case here? Earlie

[2016-05-10 11:31] magerlin commented on #272
After a little more testing: Reopening the shape file in the same project removes the problem.
But the problem is back when I assign a Categorized styling to the layer (based on "Tourism" attribute)

[2016-05-10 12:03] tomchadwin commented on #272
OK, so can you create the problem from scratch: no project, just open SHP, and apply categorized renderer?

If there are issues with stale values in projects, that might be a separate bug.

[2016-05-10 12:11] tomchadwin commented on #268
Can you try current master after @boesiii's commits this morning? Let us know if that improves things a bit (single style polygons only).

[2016-05-10 12:12] tomchadwin commented on #268
What we need to do is spin all those `* 4`s into a function. We can then tweak the value more easily, and also perhaps add in different behaviour for `mm` versus `px`.

[2016-05-10 12:39] boesiii commented on #268
Tom, I have something for the * 4.  I will make a pull request today sometime.

[2016-05-10 12:42] tomchadwin commented on #268
You, Sir, are a gentleman and a scholar. Hope you noticed https://github.com/tomchadwin/qgis2web/commit/3f97ee78986925e129a1329e82ca89bb713517d0.

[2016-05-11 07:01] magerlin commented on #272
Yes I can confirm to above. And there are no invalid or NULL values.

[2016-05-11 17:05] Echbart commented on #267
It has to do with CRS. Match CRS wont work. Also when i wrap raster in QGIS from EPSG: 3794 to  EPSG:3857 i get skewed raster. Will post solution in workarounf when i find it.

[2016-05-12 09:32] tomchadwin commented on #272
Apologies - having no joy recreating this. Can you upload malfunctioning project and layer together, with a working CRS?

[2016-05-12 10:56] magerlin commented on #272
Shure. Started out with new project. Same shape file (in WGS84) loaded twice. One of the layer instances is styled with categorization and shows the problems mentioned in the original post while the instance without categorization shows the right values.

Also a created leaflet map is included in this file:
[Tourism_WGS84.zip](https://github.com/tomchadwin/qgis2web/files/261106/Tourism_WGS84.zip)

[2016-05-12 11:04] tomchadwin commented on #272
Thanks for your patience - confirmed. It's the underlying JSON that's wrong. NO idea why yet. Will look into it.

[2016-05-12 11:22] tomchadwin commented on #272
Baffled by this - the JSON export happens before the renderer is even looked at, so I don't see how the resulting file can differ. Unless there's some old code in there which does alter the file once it's been exported. The 2.5d functionality alters the file, but that should not kick in in this instance. Very odd.

[2016-05-12 12:04] tomchadwin commented on #272
Possible fix committed to master - please test, and let me know.

[2016-05-12 12:15] magerlin commented on #272
It seems to work now :-)

[2016-05-12 12:18] tomchadwin commented on #272
Great. I bet I can make it break, though. Instead of choosing all attributes for the popup, just choose the one your renderer categorizes on. I think that might fail. Then choose a different popup attribute (not the one on which your renderer is categorized). That will probably work. Let me know.

[2016-05-12 12:29] magerlin commented on #272
As far as I can test all the mentioned cases work fine.

One small issue even though: Choosing to pop-up the one I renderer categorizes on shows two identical rows in the pop-up:
![image](https://cloud.githubusercontent.com/assets/1887531/15214506/baa388bc-184d-11e6-898b-10c18ea14fc7.png)

But this has been a (minor important) issue for a long time and has nothing to do with resent update.

[2016-05-12 12:30] tomchadwin commented on #272
It is related, though I don't quite know why the problem led to the values being confused. Are you happy for me to close this issue as things stand now?

[2016-05-12 12:31] magerlin commented on #272
Yes sure

[2016-05-12 12:31] #272 closed

[2016-05-12 12:41] tomchadwin commented on #272
Great. Thanks.

[2016-05-13 08:00] mayureshbhole opened #273 "Qgis2web crash windows 7"
version Qgis 2.14.2 essen
When run qgis2web plugin in complex project then its crash entire system and reboot windows 7

[2016-05-13 09:02] tomchadwin commented on #273
I'm afraid I need more information. Can you try steadily reducing the number of layers to see whether there is one specific layer which is causing the crash? If you find one, see if that layer then causes the crash when loaded on its own. Let us know what you find so we can help get to the bottom of the problem.

[2016-05-13 09:11] mayureshbhole commented on #273
There are 67 layers projection utm wgs84 43n
All r display very fine in qgis
How i know which layer have problem

I tried almost 50 times but always cresh and reboot system

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Tom Chadwin <notifications@github.com>
Date: 5/13/16 14:33 (GMT+05:30)
To: tomchadwin/qgis2web <qgis2web@noreply.github.com>
Cc: mayureshbhole <

[2016-05-13 09:14] tomchadwin commented on #273
Remove half of the layers, and see if the problem remains, or disappears. If it remains, remove half of the remaining layers. If it disappears, remove the remaining layers, and load in the half you initially removed. Keep halving like that, and see if there is one (or a few) layers which have the issue.

Regardless, I think a 67-layer map is going to be too much for qgis2web to handle. even if it

[2016-05-13 09:20] mayureshbhole commented on #273
Ok will try and let u know
I have many projects in hand of govt. If u interested work with me will gr8 for me

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Tom Chadwin <notifications@github.com>
Date: 5/13/16 14:44 (GMT+05:30)
To: tomchadwin/qgis2web <qgis2web@noreply.github.com>
Cc: mayureshbhole <mayur_bhole@msn.com>, Author <author@noreply.github.com>
Subjec

[2016-05-13 09:25] magerlin commented on #252
I suggest it will also make it possible to completely turn off **base maps**. Sometimes the Qgis layers blend too well into the background so turning to background off can make things clearer.

[2016-05-13 09:26] tomchadwin commented on #252
CTRL-click a basemap to deselect it.

[2016-05-13 09:30] magerlin commented on #252
CTRL-click is when I create the web map - right?.

My comment was to give the user of **the final web map** the possibility to turn of base maps.

[2016-05-13 09:32] tomchadwin commented on #252
Ah, apologies - misunderstood. OK, but this will be harder than normal layers, since both Leaflet and OL3 expect basemaps to be selected with a radio button, meaning you can't deselect them all. Can someone come up with a good GUI element for this?

[2016-05-13 09:46] magerlin commented on #252
Is a "No Base Map" radio button a possibility?
A quick and dirty solution could be to make it point at a non existing map? Choosing any of the OpenMapSurfer base map gives (unintentionally) this functionality.

[2016-05-13 09:51] tomchadwin commented on #252
We don't do quick and dirty here...

I'm not very keen on a "No basemap" radio button. However, if we could implement an opacity control for layers, including basemaps, that would probably solve the problem you describe. Do you agree?

[2016-05-13 09:52] magerlin commented on #252
Yes, that could be a solution

[2016-05-14 11:19] planologie opened #274 "Error with features (not layers) with no geometry"
On the standalone version of qgis and also on the server I get by export the next message:

Fault - KIO client
The file or directory  /tmp/qgis2web/qgis2web_2016_05_14-13_13_55/index.html does not exist.

Can you help me.

[2016-05-14 11:40] tomchadwin commented on #274
I'm not sure, to be honest. Can anyone else help? What on earth is KIA client?

What OS are you running on?

To clarify, the plugin is for QGIS desktop, not Server, so don't try it on the latter.

[2016-05-14 14:39] planologie commented on #274
On my desktop I'm running linux Opensuse Leap 42.1.
On the server I'm running Centos7.

I will use qgis2web for viewing maps on a website.

Op 14-05-16 om 13:40 schreef Tom Chadwin:

[2016-05-16 09:15] tomchadwin commented on #274
Can you use a file manager to browse to the export folder location - see if the folder is there. If it is, see if `index.html` is in it.

[2016-05-17 12:18] planologie commented on #274
I think I have found the problem. The problem is the shapefile. With
other shapefiles I get a index.html.

In the export folder I see a folder layers en resources. The folder
layer is empty and de folder resources has been filled.

When I use in qgis2web Leaflet instead of OL3 I get next messages.

qgis2web produced an error:

Traceback (most recent call last):
File "/.qgis2/python/plugins/qgis2we

[2016-05-18 07:45] walkermatt commented on #218
The main issue is that the hover / highlight and measure logic is in the same handler for the `pointermove` event.

Are you aware that some leaflet related tests are currently failing on master? I should probably wait until they are fixed before issuing a PR?

I'm helping organise FOSS4GUK so will definitely be there, I'm hoping to make the code sprint.

[2016-05-18 08:21] ecodiv opened #275 "Line pattern fill - Leaflet crash, OL3 unstyled"
When trying to export to LeafLet, I am getting the following error message (already on preview):

Any idea?

[2016-05-18 10:24] tomchadwin commented on #275
It's because the fill style of one of your symbols is not supported (Line pattern fill?). I need to trap the error in the plugin and get it to fail over to another style. Presumably although it exports in OL3, that fill style is not correctly reproduced? In the meantime, change to a simple fill in QGIS, and it should work. Let us know.

[2016-05-18 10:32] tomchadwin commented on #218
I've not got Leaflet failures on Tavus: https://travis-ci.org/tomchadwin/qgis2web. Have you got up-to-date current master?

[2016-05-23 08:59] magerlin commented on #223
Same problem occurred in one of my maps. Googling I found it to be a Leaflet issue as suggested: [https://github.com/Leaflet/Leaflet/issues/2824](url)

The link suggests a simple fix (at the bottom) assuring that setRadius is a number, not a string.

Could that be the problem (and fix) with maps generated by Qgis2web?

[2016-05-23 09:19] tomchadwin commented on #223
Can you confirm that radii are being set as strings, perhaps not always, but in the maps which show this problem?

[2016-05-23 09:58] magerlin commented on #223
I am not sure how to do that?

In Qgis I have just selected a fixed radius of 6 mm in the layer styling (graduated). Whether "6" then is a string or a number when transferred to javascript by the plugin I do not know how to find out - I only know at little about javascript, sorry.

Setting a fixed radius in pixels still have the same problem.

But it seems like changing the Qgis styling to "Single

[2016-05-23 10:21] tomchadwin commented on #223
I think you've found it:

[code]
I'll try and do a fix now.

[2016-05-23 10:27] tomchadwin commented on #223
Fix committed to master. Please test.

[2016-05-23 10:37] magerlin commented on #223
Issue Solved - nice and quick. Thank you

[2016-05-23 10:40] tomchadwin commented on #223
Great. @dpsspatial, can you test and report back?

[2016-05-23 10:42] tomchadwin commented on #223
Thanks for finding the explanation, @magerlin!

[2016-05-23 11:36] planologie commented on #274
Now I know what is wrong.
Some records don't have a geometry.
When I delete this records. I get the index.html.
Is it possible to check the geometry in qgis2web, with returning a
message "wrong geometry"?
Thank you for your help.

Op 16-05-16 om 11:15 schreef Tom Chadwin:

[2016-05-23 14:17] tomchadwin commented on #223
I'll close this for now. Please reopen if you are still having this issue.

[2016-05-23 14:17] #223 closed

[2016-05-24 08:29] tomchadwin commented on #274
OK, I see the problem. The plugin avoids layers with no geometry, but does not check individual features to make sure they have geometry. I'll look into it.

[2016-05-24 20:27] dpsspatial commented on #223
This looks great on my end - thank you all for tracking this down!!!

[2016-05-25 09:58] tomchadwin commented on #223
Splendid - thanks for letting us know.

[2016-05-25 10:56] tomchadwin opened #276 "Address search on OL3 not working?"
Nothing seems to appear. Does anyone else confirm?

[2016-05-25 14:10] boesiii commented on #276
It is working for me

[2016-05-25 14:11] tomchadwin commented on #276
With current master?

[2016-05-25 14:15] boesiii commented on #276
Oh.  Let me download master and try it.

[2016-05-25 14:18] boesiii commented on #276
Yes it is working with current master.  I typed in a city and it came up with a list of places.  Clicking on a place it zooms the map to that position.

[2016-05-25 14:19] tomchadwin commented on #276
OK, I'll close this for now. It's not working for me - no control appears, but no errors that I can see. Very strange.

[2016-05-25 14:19] #276 closed

[2016-05-25 14:21] tomchadwin commented on #276
Thanks for checking.

[2016-05-25 16:29] tomchadwin opened #277 "Use Travis PIP cache"
Currently `.travis.yml` has:

[code]

To use the new Travis PIP cache, it should be:

[code]

However, this results in the following test failure:

[code]

What else do I have to do to change my Travis `language` from `generic` to `python`, @akbargumbira, @m-Kuhn?

[2016-05-31 07:25] ecodiv commented on #275
Ah, yes, forgot about the line pattern fill. Replaced it and now it works. Thanks!

You are right about the export in OL3, the polygons with line pattern fill are displayed without fill / white when exported.

[2016-05-31 10:52] tomchadwin commented on #275
OK - so improvement can be made. Thanks!

[2016-05-31 14:00] sudhirsp opened #278 "Leaflet Layer are not in proper order."
Hi,
I am trying to export point, line, polygon, raster and base map. After exporting from OL3 layers are arranged as per qgis. But when same data is exported by leaflet basemap becomes 1st in legend and raster is coming after that. In legend layers are sequenced in Basemap, Raster, line/polyline, point and polygon.

Beacuse of this vector data is not visible as raster is overlayed on vector data.

[2016-06-08 11:04] magerlin opened #279 "Leaflet maps appears to only accept integer point labels"
As for now point layers can be labeled in Leaflet maps. But if label is not an integer in Qgis it is not shown on the Leaflet map. It is shown OK in OpenLayers3.

[2016-06-08 11:16] tomchadwin commented on #279
Not for me. I've just tried it with a String field, and it works. What can the difference between your layer and mine be?

[2016-06-08 11:18] magerlin commented on #279
Oh sorry - it is a real value like 5.2 (five point 2) that does not work.

[2016-06-08 12:41] tomchadwin commented on #279
Got it - can't display decimal/real labels. Will look into it.

[2016-06-10 10:23] tomchadwin opened #280 "Allow choice between collapsed and expanded layers list"
Change the layers list GUI widget from a checkbox to a dropdown with value none, collapsed, expanded.

[2016-06-10 10:35] tomchadwin commented on #279
Fix committed to master - please test

[2016-06-10 10:35] #279 closed

[2016-06-10 16:12] tomchadwin commented on #278
Leaflet 0.7 is problematic with layer stacking order, which is why this issue has been raised a few times before. Until Leaflet 1.0 is fully released (and all the Leaflet plugins which qgis2web uses are updated to be compatible), there's not much we can do.

[2016-06-10 16:12] #278 closed

[2016-06-12 13:33] magerlin commented on #279
Confirmed OK

[2016-06-13 11:32] tomchadwin commented on #279
Thanks for confirming. Released as 1.9.2 and pushed to QGIS plugins repo.

[2016-06-14 08:23] michaelradhuber opened #281 "Handle unicode column names"
For people working in other languages than English encoding errors pop up when trying to export maps as leaflet:

`Traceback (most recent call last):
File "C:/Users/Michele/.qgis2/python/plugins\qgis2web\maindialog.py", line 134, in previewMap
MainDialog.previewLeaflet(self)
File "C:/Users/Michele/.qgis2/python/plugins\qgis2web\maindialog.py", line 307, in previewLeaflet
visible, cluster, json, pa

[2016-06-14 08:29] riccardoklinger commented on #281
are your attribute titles maybe filled with "ä","ü" and other common german "Umlauten" please change the attribute title using the table manager plugin.

[2016-06-14 09:03] michaelradhuber commented on #281
Thanks that was it!

[2016-06-15 18:14] lucacasagrande commented on #148
I will take a look.

[2016-06-16 07:21] tomchadwin commented on #148
Thanks, @lucacasagrande!

[2016-06-16 08:11] walkermatt commented on #218
I'll take a look at this today at the #foss4guk code-sprint.

[2016-06-16 08:58] tomchadwin commented on #281
I'm glad you have worked round this issue, but it is still an error: we need to clean the column names as part of the export. I'll leave this issue open.

[2016-06-16 09:26] GeoSpark commented on #254
I'm taking this on for the FOSS4GUK code sprint.

[2016-06-16 10:27] Iaku opened #283 "www.toolserver.org; black and white openstreet basemap not working"

[2016-06-16 10:51] tomchadwin commented on #283
You're not going to believe this, but the B&W OSM basemap from toolserver.org works for me...

[2016-06-16 11:50] tomchadwin commented on #283
The problem existed with QGIS 2.6. Closing, as only want to support LTR+.

[2016-06-16 11:50] #283 closed

[2016-06-16 13:13] Iaku opened #284 "qgis 2.8.9 does not dislay point data on qgis2web"
my point data does not display on qgis2web on OL but the leaflet shows very well.

[2016-06-16 14:01] tomchadwin opened #285 "OL3 + Fit to layers + Match CRS: no output"
Can anyone reproduce?

[2016-06-16 15:06] volcan01010 opened #287 "Some raster colour models are rendered transparent"
The attached file is rendered fully transparent in the web maps.  Projection is epsg:27700.

![os_background_castle_biz](https://cloud.githubusercontent.com/assets/12040043/16121634/e7e9b946-33db-11e6-9a20-5c4bc14f8323.png)

It has a strange colour model:

[code]

[2016-06-16 15:09] volcan01010 commented on #287
The .pngw should contain:

[code]

[2016-06-16 15:14] volcan01010 commented on #74
After some playing, it seems that OpenLayers can reproject raster on the fly.

+  Add vector in EPSG:27700 and set project CRS to match layer
+  Add raster in EPSG:3857 (e.g. created by saving from OpenLayers plugin)
+  Open qgis2web
    +  In OpenLayers 3: both vector and raster are visible
    +  In Leaflet: only vector layer is visible

[2016-06-16 15:21] volcan01010 commented on #74
### Comparison of with and without _Match project CRS_:

+  Add vector layer in EPSG:27700
+  Export in qgis2web, firstly without then with matching CRS

Diff:

[code]

[2016-06-16 15:55] volcan01010 commented on #74
I think that this bug is fixed by version 1.9.2 against QGIS 2.14.3.  I

Project CRS: 27700
3 vector layers, in different projections:  27700, 4326, 3857

+  Open qgis2web, add OSM basemap.
+  Check OpenLayers and Leaflet, with and without "Match project CRS".
+  **Results:** Vector features align correctly in all cases.  Basemapping is not shown in Leaflet with Match project CRS (because Leaflet

[2016-06-17 11:19] tomchadwin commented on #74
So I can summarize as follows:

#### OL3
- vectors work
- rasters work

#### Leaflet
- vectors work
- rasters fail

Is that right?

[2016-06-17 11:21] tomchadwin commented on #284
Was this issue solved once you were upgraded to QGIS 2.8?

[2016-06-17 14:41] lucacasagrande commented on #74
I think that there is still a problem with raster's style.

[2016-06-17 14:43] tomchadwin commented on #74
@lucacasagrande Yes, but I've called that a different issue: #148. That issue deals with styling, but do we think that my summary above of reprojection is correct?

[2016-06-17 14:46] lucacasagrande commented on #74
Yes, you are right. :+1:  I will try to fix that during this weekend.

[2016-06-17 14:51] tomchadwin commented on #74
Thanks, Luca!

[2016-06-17 15:03] #218 closed

[2016-06-17 15:09] tomchadwin commented on #287
I think this could well be related to #148. @lucacasagrande, many colour models will not display in a browser - I don't know which ones precisely will. We therefore need to make sure we always convert rasters to a web friendly model.

[2016-06-17 15:17] tomchadwin commented on #270
OK, a great day - loads of progress. Matters arising:

- rasters still need a lot of work (@lucacasagrande hopes to look at raster styling soon), but Leaflet raster reprojection is still not working (OL3 does it on the fly client-side), and rasters with non-web-friendly colours models are unlikely to work

- we have a bit of a blocker in the way OL3 popups work, with attribute names and values com

[2016-06-17 15:17] #270 closed

[2016-06-17 15:39] tomchadwin commented on #254
OK, working in Leaflet if you select just that single field in the popup drop-down in the plugin dialogue. I'll try to look at getting it to work if all fields are selected for the popup. If I can't make sense of it, I'll report back.

Was about to fix the issue of the image overflowing the popup, but then that behaviour disappeared for me. Can people let me know if they see that behaviour again?

[2016-06-17 15:42] tomchadwin opened #290 "Rewrite OL3 popup code"
Currently the attribute names and values come straight from the GeoJSON. This means they can't be preprocessed. Two features are therefore currently blocked by this, which work in Leaflet:

- use field aliases
- images in popups

There could already be other such blocked issues, and certainly could be again.

I don't have a solution for this, but I'm sure it will be possible. Suggestions welcome.

[2016-06-17 17:24] GeoSpark commented on #290
I suspect the best approach would be to unify the code generation - OL3 and Leaflet are essentially the same. As we talked about at FOSS4GUK2016 moving to a Python templating library would be a start, [Jinja2](http://jinja.pocoo.org/) would be my recommendation. There will, I think, need to be JS templating too and so [handlebars](http://handlebarsjs.com/) seems to be the most popular engine. Once

[2016-06-17 19:18] GeoSpark opened #291 "Rewrite code to use a templating engine"
There are a great deal of JS strings in the Python code that could be simplified by using something like Jinja2 to do the heavy lifting and separate out the JS and HTML from the Python.

[2016-06-18 20:03] tomchadwin commented on #290
Python templating I agree with. JS templating only of it does not add too much to the download to have additional libraries.

[2016-06-19 21:13] lucacasagrande commented on #148
Update: Style is working with OL3 (with QGIS-master).

[2016-06-20 12:40] tomchadwin commented on #148
Only with master? Not working for me with a nightly from a couple of weeks ago:

https://github.com/qgis/QGIS/commit/94d88e6

[2016-06-20 13:19] tomchadwin commented on #148
No, I can't get this to work:

1. Downloaded latest nightly
2. Loaded singleband greyscale raster
3. Applied pseudocolour style
4. qgis2web

I see nothing on screen. Are we not describing the same thing?

[2016-06-20 15:54] lucacasagrande commented on #148
Yes Tom.
In master (next 2.15 I think)  some of the algorithms parameters needed to use raster, have been modified.

[2016-06-21 05:44] lucacasagrande commented on #287
Yes, in my code for #148  it is working fine.

[2016-06-21 05:46] lucacasagrande commented on #148
Update: Style is working also in LeafletJS.

[2016-06-21 10:00] tomchadwin commented on #148
Sorry, @lucacasagrande. I couldn't see any commits/PR, so I thought you were talking about tomchadwin\qgis2web master as well as QGIS master.

[2016-06-21 14:13] tomchadwin commented on #290
OK, let's look at the field aliases first. How about we write out a JS object called fields_LAYERNAME:

[code]
We then change the popup code from:

[code]

to:

[code]

Anyone else think I am on the right lines with this?

[2016-06-21 16:54] boesiii opened #293 "How to use SVG markers from Qgis?"
Is there someway I can get Q2W to use the symbols from Qgis?
![capture](https://cloud.githubusercontent.com/assets/2079638/16238662/45f32640-37af-11e6-9ae2-b1abbe642562.PNG)

[2016-06-21 17:09] boesiii commented on #293
If I use leaflet the legend shows correctly but the symbols are not consistent with Qgis.
![capture2](https://cloud.githubusercontent.com/assets/2079638/16239082/5a026cde-37b1-11e6-9668-3e802c4e4f12.PNG)

[2016-06-21 17:10] boesiii commented on #293
![capture3](https://cloud.githubusercontent.com/assets/2079638/16239109/80a38058-37b1-11e6-9da8-e677f6967b0a.PNG)

[2016-06-21 17:35] tomchadwin commented on #290
No, I'm getting my Python and JS confused. Have to work on it a tad more...

[2016-06-21 17:36] tomchadwin commented on #293
I find that the QGIS SVGs don't tend to work, but external ones do. I think it might be to do with the presence of SVG variables within the QGIS ones. I don't have a solution for this yet.

[2016-06-21 18:04] lucacasagrande commented on #148
Hi @tomchadwin I can make a pull request, but it's better in a specific branch because currently it's working only with QGIS-master. Tomorrow I will start to work on a solution to make it compatible with old version.

[2016-06-21 18:11] tomchadwin commented on #148
Now I understand. Sorry for being so slow. Do you need me to branch here (git non-expert)?

[2016-06-21 18:26] tomchadwin commented on #290
Reached another dead end. I don't know how to retrieve any layer name in JS which matches back to the layer name in QGIS, so I can therefore get to the right list of fields. Very confusing.

I start with Python retrieving the list of layers, fields in each layer, and aliases for each field. I can write them out in any JS structure we need, but how do I then retrieve the right entry in JS when a fe

[2016-06-21 19:27] ThomasG77 commented on #290
You can set any arbitrary property to `layer` with `layer.set('my_arbitrary_name_for_layer_name', 'my_layer_name')`
See [this example](http://openlayersbook.github.io/ch04-interacting-with-raster-data-source/example-06.html) for a concrete use case.

[2016-06-21 20:00] boesiii opened #294 "Add search option"
A user asked if I could create some type of query option so they could find a point with an ID equal to something and the map would zoom to a particular feature with matching attribute.

I have something working for leaflet based on
https://github.com/stefanocudini/leaflet-search

Would this be something worth incorporating into Q2W?

[2016-06-21 20:11] lucacasagrande commented on #148
No problem Tom :+1:
Probably we don't need another branch..I have modified the code and now rasters work fine also in 2.14.3. I will do some more tests and I will make the pull request.

[2016-06-21 20:12] tomchadwin commented on #294
I wanted to include Stefano's plugin to allow search on attributes. From memory, there was an issue with the feature highlight style applied to search results never resetting. Do I take it that it a works for you?

[2016-06-21 22:25] tomchadwin commented on #148
Wow, that was quick.

On a related topic, I've upped the minimum supported QGIS version to 2.8. I would be prepared to up it to 2.14 once that becomes LTR - pretty soon.

[2016-06-21 22:26] tomchadwin commented on #290
Ah, thanks @ThomasG77! Hopefully that will do it.

[2016-06-22 10:19] tomchadwin commented on #290
Yes, that's done it, @ThomasG77. I do:

[code]

[2016-06-22 10:57] tomchadwin commented on #212
Done in master. Please test.

[2016-06-22 10:57] tomchadwin commented on #119
OL3 now uses field aliases in master. Please test.

[2016-06-22 10:58] tomchadwin commented on #210
Aliases now used in OL3 in master. Please test.

[2016-06-22 11:01] tomchadwin commented on #293
By the way, have you checked them in export, not just in preview?

[2016-06-22 11:16] tomchadwin commented on #254
@GeoSpark I'm happy to look at getting this working when "Show all attributes" is selected for popups, but I'm having difficulty getting started:

https://github.com/tomchadwin/qgis2web/blob/master/leafletLayerScripts.py#L86

Do I take it that `eachPopup == 1` indicates that "Show all attributes" is selected?

[2016-06-22 11:46] tomchadwin commented on #254
@GeoSpark No, it's OK. I've had a go at implementing this in master. Can you test? Image edit widget fields should now work in Leaflet with "Show all attributes" selected for the popup, not just for single fields.

[2016-06-22 12:26] boesiii commented on #293
Yes

[2016-06-22 14:21] boesiii opened #295 "Cant find layer until after browser refresh"
If I change the export folder to something on the network then the first time it opens in the browser after export, it is not able to find the JSON layers but if I refresh the page then it works fine.

[2016-06-22 16:19] tomchadwin commented on #290
Aliases and images both done without rewriting. Closing for now.

[2016-06-22 16:19] #290 closed

[2016-06-22 16:21] tomchadwin commented on #254
Akzo now implemented in OL3. Please test.

[2016-06-23 11:22] tomchadwin commented on #291
Python templating I agree with. JS templating only if it does not add too much to the download to have additional libraries.

[2016-06-23 11:24] tomchadwin opened #296 "Add option to open folder on export instead of opening browser"
I think this would be more useful for some people, and could be the default behaviour for Macs which fail to open the browser anyway.

[2016-06-23 12:04] boesiii commented on #295
It looks like it might be more of a timing issue

[2016-06-23 13:04] tomchadwin commented on #295
Really? Race condition of some kind?

[2016-06-23 13:05] tomchadwin commented on #295
Does the problem disappear with much smaller datasets?

[2016-06-23 13:33] boesiii commented on #295
Yes the problem disappears with a smaller dataset.

Dataset = 1246 polylines = Problem

Dateset = 257 polylines = No Problem

[2016-06-23 13:46] tomchadwin commented on #295
Obvious question: have you just waited?

[2016-06-23 14:08] tomchadwin commented on #293
By the way, @boesiii, this will work only with `SVG marker` symbol layers, not `Simple marker` symbol layers. And are you having problems with SVGs in both OL3 and Leaflet?

[2016-06-23 14:49] boesiii commented on #293
I am using leaflet. When you use Leaflet and you have a layer list, it creates the PNG symbol for the legend, so all you have to do is point the leaflet style to the PNG file.  Late yesterday I finished a working version (by editing the HTML and JS) but I haven't coded it to Q2W.

[code]

[code]

[2016-06-23 14:53] boesiii commented on #295
If I wait a few seconds and hit F5 to refresh the browser then everything is fine.

[2016-06-23 14:54] tomchadwin commented on #293
Odd. The SVG issues I've had are with OL3 (think I've just fixed them - commit coming). Leaflet works, **but not in the preview window**. It works in the export, as far as I can see:

https://www.dropbox.com/s/4nmqe8no91z4erv/Screenshot%202016-06-23%2015.54.20.png?dl=0

[2016-06-23 15:05] boesiii commented on #293
Oh wait.  I am using simple markers.  Sorry.

So the issue is Q2W does not export simple markers correctly.

[2016-06-23 15:05] boesiii commented on #293
You are right SVG symbols work correctly in leaflet.

[2016-06-23 15:07] tomchadwin commented on #293
Great. Yes, the way it detects SVGs is by detecting SVG marker symbol layers. I'll look into how simple marker symbol layers work, and see if it's possible with those - no idea if the simple markers are SVGs themselves.

[2016-06-23 15:17] tomchadwin commented on #293
Yeah, it's not going to be easy to recreate the non-circle simple markers. The QGIS API just gives you a shape string (eg "circle", "square", etc), rather than an SVG. Similarly, both OL3 and Leaflet have built-in circle markers, but not other shapes.

With your permission, therefore, I might close down this issue - it's forced me to get the OL3 SVG code working, which is A Good Thing.

[2016-06-23 15:31] boesiii commented on #293
Instead of working with simple shapes and SVG just export the symbol to PNG and use that for the marker in OL3.  Leaflet export has a function that exports the symbol to PNG so all that is needed is connect the PNG symbol to OL3 and Leaflet.

[2016-06-23 15:38] tomchadwin commented on #293
I'm slightly reluctant to do that because it means rasterizing what is vector symbology in QGIS. I have concerns at how it will look on high-dpi displays, and when users zoom their browsers.

The better approach would be to save out SVGs of all of the shapes, somehow, and then use the SVG methods already used.

[2016-06-23 22:25] magerlin commented on #210
I can confirm that aliases now work in OL3 as well.

A minor issue: The width of the pop up in OL3 is rather small compared to the width in Leaflet maps giving longer aliases a bad layout:

OL3:
![image](https://cloud.githubusercontent.com/assets/1887531/16322153/8c6702b0-39a1-11e6-9e92-68b3bab5a650.png)

Leaflet:
![image](https://cloud.githubusercontent.com/assets/1887531/16322172/9cd0a50c-39a1-1

[2016-06-25 13:41] lucacasagrande commented on #148
Please test if we can close this issue. Thanks :)

[2016-06-28 08:27] chrismayer commented on #290
Hi, I just stumbled upon this. Just for a quick reference to comprehend what has been done, what are the commits belonging to this issue? So far I reconstructed that the following should be somehow related:

  - 123a9967b94e8ef6319a6982855e4484ac883774
  - 9b7eca73a70d1bcc2a468f05d7a62207ea744a37
  - ab9a4be97ca6b1dd368c3443246addb21197a4b4
  - 4fee078c01fc0c0b1ddc196d48d497f27e227934
  - 0d584bad

[2016-06-28 09:13] tomchadwin commented on #290
@chrismayer Now you're asking. Not sure without checking, as I ended up not having to rewrite the code. Instead, I was able to use the existing code for field aliases and images in popups.

I'm hoping to release a new version with all the recent changes, including these. Is that enough for you, or is there another reason you want to know which commits were against this issue?

[2016-06-28 09:24] chrismayer commented on #290
No, there is no other reason. As said I was just curious how you finally solved this in the code and was wondering that there was no reference to a PR or commits or something. With the above listed commits I was able to comprehend, so everything is fine for me. Thanks you for your reply and your great work so far!

[2016-06-28 09:28] tomchadwin commented on #290
No problem, and thanks for the kind words. As I say, I don't know if the list is comprehensive. Try downloading current master, and exporting OL3 maps with field aliases set, and with an image edit widget used. You'll see the two changes then.

[2016-06-28 20:09] tomchadwin commented on #148
Fix committed to master. Please test. @pcav, can you test?

[2016-06-28 21:04] tomchadwin commented on #254
Released as 1.10.0-FOSS4GUK2016 experimental and pushed to QGIS plugins repo.

[2016-06-28 21:05] tomchadwin commented on #148
Released as 1.10.0-FOSS4GUK2016 experimental and pushed to QGIS plugins repo.

[2016-06-28 21:05] tomchadwin commented on #212
Released as 1.10.0-FOSS4GUK2016 experimental and pushed to QGIS plugins repo.

[2016-06-28 21:05] tomchadwin commented on #218
Released as 1.10.0-FOSS4GUK2016 experimental and pushed to QGIS plugins repo.

[2016-06-28 21:05] tomchadwin commented on #293
Released as 1.10.0-FOSS4GUK2016 experimental and pushed to QGIS plugins repo.

[2016-06-28 21:06] tomchadwin commented on #95
Released as 1.10.0-FOSS4GUK2016 experimental and pushed to QGIS plugins repo.

[2016-06-29 13:19] tomchadwin commented on #254
Images overflow popups in some browsers.

[2016-06-29 13:20] tomchadwin commented on #254
Fix committed to master. Please test, @philipjohnbarlow.

[2016-06-29 13:20] #254 closed

[2016-06-29 14:24] philipjohnbarlow commented on #254
Tested and confirmed working in Edge, IE 11 and Firefox 47.0, no image overflow.

[2016-06-30 08:31] tomchadwin commented on #254
Great - will release as soon as I can. Thanks.

[2016-07-01 17:05] pcav opened #300 "qgis2web hangs QGIS in case of very large layers"
The plugin trying to convert the full layer, instead of just the extent. This is OK for small or moderate layers, but for very large layers the only practical solution is to kill QGIS. The user is not warned about this. I suggest to add the option (enabled by default) to only use visible items in the canvas.

[2016-07-01 17:06] pcav commented on #300
This is also true for WFS layers.

[2016-07-05 09:50] JonnoFTW opened #302 "Error When Exporting to Leaflet with Custom Labels"
In the display for my layer, I have set a user defined function for my label. When I export I get the following error:

[code]

That key is actually the function that defines the point label.

[2016-07-05 09:55] tomchadwin commented on #302
Yeah, I'm afraid expressions in labels are not supported:

https://github.com/tomchadwin/qgis2web/issues/51

I need to trap the error, though, and just export without labels.

[2016-07-05 16:52] lucacasagrande commented on #266
Should we start planning a 2.0.0 ? We can include Python3 support and do a major code refactoring to remove duplicates, use template, etc..

[2016-07-05 16:54] m-kuhn commented on #266
No need to replace QWebView I think, is there?

[2016-07-05 16:55] lucacasagrande commented on #266
Yes I think it should be there.

[2016-07-05 16:55] tomchadwin commented on #266
Correct, according to you. I opened this issue before you confirmed.

[2016-07-05 17:09] tomchadwin commented on #266
@lucacasagrande I guess there are two opinions:

1. QGIS3 compatibility is a very big job, so we shouldn't also try to do a big refactor at the same time

2. Given that QGIS3 is a major change for plugins, that *is* the time to refactor

I guess we can work on a refactor at the same as 3 compatibility, but the one is not totally dependent on the other.

I need a 3 build I can test against. I guess

[2016-07-07 00:57] Caesar305 opened #303 "Clicking convert to web hangs qgis"
Hello, I have a qgis map with about 10 layers based on spatiallite. As soon I click the button to convert to web, it freezes the entire application. I can see in my task manager qgis using about 15% cpu. I left it running for about 30 minutes to see if it would eventually finish to no avail. I'm on Windows 10, running Qgis 2.14 64 bit.

I would attach some logs but I'm not sure where to look for t

[2016-07-07 01:23] Caesar305 commented on #303
I tried just importing the shapefile rather than using spatiallite db with same results. Seems like these layers are so large (shapefile is about 200MB) that causes the plugin to hang.  Maybe if I leave it running long enough it will open the dialog box.

[2016-07-07 01:33] Caesar305 commented on #303
Actually, it happens even with a smaller layer. Here is a shapefile with the issue in case you want to try and replicate.

https://drive.google.com/file/d/0B4sfSKoQ2q8UaU9zcmFqaHZjZEU/view?usp=sharing

[2016-07-07 10:24] sudheesh001 opened #304 "Exporting custom raster layers causes error in QGIS"
qgis2web produced an error:
[code]

[2016-07-07 10:31] tomchadwin commented on #304
Can you define "custom raster"? I've not seen this issue before. Any ideas, @lucacasagrande?

[2016-07-07 11:12] sudheesh001 commented on #304
I think my mistake was that I was exporting a base map layer CairoPNG image along with the `Features` traced on a new layer, but the problem is that none of the attributes of the features are being exported.

[2016-07-07 11:19] tomchadwin commented on #304
What is your project projection and the projection of your layers?

[2016-07-07 11:38] sudheesh001 commented on #304
I do not understand what you mean, where do I find that information ? I am new to the tool, so what i've done is, imported a cairoPNG image and created a new layer, made a few feature objects on the image by using the `Add Feature` after toggling edit. I then added attributes to the feature objects. Then I am trying to save and export.

[2016-07-07 11:44] tomchadwin commented on #304
I'm afraid I'll have to ask you to find some QGIS instructions. You need to make sure that your project and layers have appropriate coordinate reference systems (CRS). This dictates whether the coordinates of your features are measured in, for example, meters, or degrees of latitude/longitude. Once that is set up correctly, the plugin should work. The error above has occurred because you have a co

[2016-07-07 11:44] #304 closed

[2016-07-11 09:21] tomchadwin opened #305 "Empty popups"
Looks like layers with no fields or with all fields hidden result in an empty popup - does anyone else confirm?

[2016-07-11 10:52] stefan-simon opened #306 "QGISServer wms layers on OL3"
Hi,

when a layer url is server_url/qgisserver.fcgi?map=/location_to_qgs/proj.qgs,
in js code, "map=.." is encoded lyke "map%3D..." and this is causing error and
the qgis wms layer is not loaded

thanks,

Stefan

[2016-07-11 10:55] tomchadwin commented on #306
OK. My testing was with Geoserver. I have no experience with QGIS server. What is the error?

[2016-07-11 15:53] boesiii commented on #303
I tried with your dataset above and Q2W didn't even come alive.  Qgis sat waiting for a few minutes and I eventually killed the application.  I then grabbed 5048 features from the original dataset and it worked so it looks like there is a "limitation" in Q2W.

Even if Q2W was able to export your project, I doubt the resulting webapp would be very usable because of the number vector features.

[2016-07-11 15:59] boesiii commented on #300
I believe it hangs because of the preview.  I wonder if there is some way to disable preview for certain layers over a certain limit of features.

[2016-07-11 17:37] Caesar305 commented on #303
Thanks for taking the time to look into it. Do you know of any other methods to export this to a web map? I tried looking into using qgis server but I could not manage to get it to work properly. I would prefer a simple solution like this plugin. I have everything inside a spatiallite database.

[2016-07-11 18:58] boesiii commented on #303
I don't think q2w will suite your needs because your layers have too many features.  You will more likely need a web server which can server your data in a WMS type format.  There are other map servers out there you can try, mapserver.org or geoserver.org

[2016-07-11 19:08] Caesar305 commented on #303
Thanks

[2016-07-11 19:08] #303 closed

[2016-07-11 19:13] boesiii opened #307 "How to deal with very large datasets"
Q2W does not work well with large datasets and I have been thinking about how solve the issue.  Maybe vectors tiles?  Maybe this: https://github.com/mapbox/geojson-vt

[2016-07-11 19:14] boesiii commented on #303
This might help if you can get it too work with your data.

https://github.com/mapbox/geojson-vt

[2016-07-11 20:38] stefan-simon commented on #306
Actually is not an error, is an wrong answer from qgis server.
Ex:

var lyr_layer_one = new ol.layer.Tile({
                        source: new ol.source.TileWMS(({
                          url: "http://11.22.33/cgi-bin/qgis_mapserv.fcgi?map%3D/var/home/project.qgs",
                          params: {"LAYERS": "layer%20one", "TILED": "true"},
                        })),

[2016-07-11 21:18] tomchadwin commented on #300
I'll dig out how to disable preview on load - just comment or one line at the beginning of maindialog.py.

The best way to handle this would be to stop the preview blocking the interface. I don't know how to do that. Is it multithreading?

[2016-07-11 21:19] tomchadwin commented on #307
Perhaps. I'd like to handle vector tiles if they are the source of a QGIS layer. Not looked at that yet.

[2016-07-11 22:44] tomchadwin commented on #306
Ah, thanks for figuring this out so quickly. Nice one! So I need to be able to detect when a Web services layer is from QGIS, and unencode those characters. If I search for `qgis_mapserv` in the layer address, will that do it?

[2016-07-12 08:58] tomchadwin commented on #306
Looks like we'll have to query the server to find out:

http://lists.osgeo.org/pipermail/qgis-developer/2016-July/043717.html

Thanks, @elpaso, for the pointer.

[2016-07-12 12:32] fitoprincipe opened #308 "Leaflet error"
Hello, I have seen a similar issue posted 5 days ago. It was closed, but I have a similar one. I am just trying to create a simple webmap with qgis2web. I have just one layer (EPSG22181). Choosing OL3 works fine, but when I choose Leaflet it says:

Any ideas?

[2016-07-12 12:47] tomchadwin commented on #308
Hmm, no, not seen that before. Are you using the most up-to-date release? If so, are you able to upload your layer, project, and style files so I can take a look - it's a definite bug.

[2016-07-12 13:34] fitoprincipe commented on #308
I thought of that and updated qgis2web before posting..

[error_shape.zip](https://github.com/tomchadwin/qgis2web/files/359429/error_shape.zip)

[2016-07-12 13:38] tomchadwin commented on #308
KO, that layer works for me, so I need you to export your layer style as QML and upload that as well - `Layer Properties > Style > Style &#9660; > Save Style > QGIS Layer Style File`. That should allow me to recreate the bug.

[2016-07-12 13:51] fitoprincipe commented on #308
Just in case (I don't think it matters) I am using ubuntu 14.04 and QGIS 2.14.3..
[style_error.zip](https://github.com/tomchadwin/qgis2web/files/359473/style_error.zip)

[2016-07-12 13:56] tomchadwin commented on #308
OK, I've got the error now - thanks! Now to try to figure out what is causing it...

[2016-07-12 14:12] tomchadwin commented on #308
Fix committed to master. Please test.

[2016-07-12 14:29] fitoprincipe commented on #308
It works perfect! I could have used another style (similar), but I'm happy the issue helped and pushed a change for optimization. Thanks a lot!

[2016-07-12 14:31] tomchadwin commented on #308
You're welcome - thanks for testing and confirming! I'll be doing a release in the next couple of days, which will include this fix.

[2016-07-12 14:31] #308 closed

[2016-07-12 14:31] tomchadwin commented on #305
Fix committed to master. Please test.

[2016-07-12 14:31] #305 closed

[2016-07-12 19:16] stefan-simon commented on #306
to check the project settings is a nice one :) . good luck..

[2016-07-13 00:27] ebrelsford opened #309 "Crashes on QGIS 2.16 in Xenial"
On upgrading to QGIS 2.16, QGIS now crashes when I open the `qgis2web` dialog (`Web > qgis2web > Create web map`). I've tried uninstalling and re-installing the plugin but it hasn't improved the situation.

[2016-07-13 10:36] tomchadwin commented on #309
Hrm - not good. Can you follow the steps for "Reporting bugs" listed in the README. Specifically, can you narrow it down to a single layer which causes the problem? I'f you can, then upload the layer so I can try it - I've not had a QGIS crash on 2.16 myself.

[2016-07-13 12:30] ebrelsford commented on #309
Sorry I missed the instructions in the README.

* Installed `qgis2web`: v1.11.0
* I'm not sure how to see the stack trace when QGIS crashes outright, glad to get that though. Is there a log file I'm not aware of?

This happens for any data that I use, and I've tried a variety of file types and CRSs. Please let me know if there is anything else I can try.

[2016-07-13 13:05] tomchadwin commented on #309
What OS are you on?

[2016-07-13 13:07] ebrelsford commented on #309
Ubuntu 16.04.

[2016-07-13 13:10] tomchadwin commented on #309
OK, in a terminal, try:

[code]
Cause the crash, and then in that same terminal, type `bt`. Can you paste the output here?

[2016-07-13 13:26] boesiii commented on #309
I think most of these types of problems result from q2w not handling a layer properly .  Would it be possible to wrap the preview code in a "try" statement and if it fails try to catch which layer it failed on.  I don't have much time at the moment to look at the preview code.

[2016-07-13 13:28] tomchadwin commented on #309
Will a Python `try` trap a QGIS crash??

[2016-07-13 13:45] boesiii commented on #309
Woops.  Probably not.

[2016-07-13 13:50] tomchadwin commented on #300
To disable initial preview when the plugin loads, comments out https://github.com/tomchadwin/qgis2web/blob/master/maindialog.py#L65:

[code]

[2016-07-13 14:43] ebrelsford commented on #309
Okay here's a stack trace from `gdb`, immediately after selecting the `Create web map` menu item:

[code]

[2016-07-13 14:46] tomchadwin commented on #309
Perfect - thanks. The bad news is that I don't know how to decipher one of these. The good news is that there have been other plugin segfaults involving QtWebKit. The bad news is that there has been no fix or workaround suggested yet. I'll report this on the QGIS developer mailing list, and see what comes of it.

[2016-07-13 14:50] ebrelsford commented on #309
Thanks @tomchadwin. FWIW, I have tried wiping out `~/.qgis2` and `~/.config/QGIS` to no avail. I can look into Qt a little more.

[2016-07-13 14:54] tomchadwin commented on #309
Reported here:

https://lists.osgeo.org/pipermail/qgis-developer/2016-July/043763.html

[2016-07-13 15:32] tomchadwin commented on #309
Notice that the other reports are also 2.16 on 16.04. I hope one of the QGIS devs can help (nudge: @m-kuhn).

[2016-07-13 15:37] ebrelsford commented on #309
At least we're not alone! I've looked into all the `libqt` packages I might upgrade but they were all at their latest versions, so not sure what else I might do there. Thanks again for taking a look.

[2016-07-13 15:38] tomchadwin commented on #309
You're not on Qt5, are you?

[2016-07-13 15:42] ebrelsford commented on #309
Nope, Qt4.

[2016-07-13 15:50] tomchadwin commented on #309
OK, good. Let's see if we get any suggestions. Thanks for your patience.

[2016-07-13 17:56] lucacasagrande commented on #309
Just as feedback, I have compiled QGIS 2.16 on Ubuntu 16.04 and there is no error.

[2016-07-13 18:27] m-kuhn commented on #309
@lucacasagrande if you compile with `-DWITH_QTWEBKIT=OFF` also?

[2016-07-13 18:38] tomchadwin commented on #309
@ebrelsford How did you upgrade QGIS? Which repository did you get it from?

[2016-07-13 18:43] ebrelsford commented on #309
@tomchadwin: http://qgis.org/debian

[2016-07-13 19:50] lucacasagrande commented on #309
@m-kuhn Yes with `-DWITH_QTWEBKIT=OFF` it crashes.

[2016-07-13 20:00] m-kuhn commented on #309
Looks like 2 issues then

 * Ubuntu packaging needs not be done without QtWebkit
 * Something strange happens without webkit (but that's only for the 2 debian testing users out there anyway)

[2016-07-14 14:19] philipjohnbarlow opened #310 "Small side effect of photo overflow fix"
Also causes pop-up to wrap to text.

![capture](https://cloud.githubusercontent.com/assets/14541141/16842712/56d172ee-49d6-11e6-9338-399f5dbc4920.JPG)

[2016-07-15 07:59] philipjohnbarlow commented on #310
Attempting to adjust .leaflet-popup-content with height and width parameters seems to alter the anchor point of the pop-up.

![image](https://cloud.githubusercontent.com/assets/14541141/16867492/0b959ac8-4a6a-11e6-8f4b-76efa9dd7e5b.png)

If you attempt to correct the position with "position: relative/absolute" you end up with this:

![image](https://cloud.githubusercontent.com/assets/14541141/1686

[2016-07-15 12:12] tomchadwin commented on #310
Do you mean it stretches the popup to full screen, pushed there by text? Try removing `height` from your fix. If that fails, replace `width` with `max-width`. Can you report back?

[2016-07-15 13:04] philipjohnbarlow commented on #310
Hi Tom,

Yes, just the width.  Setting width or specifying a max-width fixes that problem but still results in the problem in the first screen shot above, you pop-up anchors at the top of the screen rather than to the point.

[2016-07-16 14:48] tomchadwin commented on #284
Assume upgrade to LTR resolved the issue. Reopen if not.

[2016-07-16 14:48] #284 closed

[2016-07-16 14:52] tomchadwin commented on #253
No longer relevant as Delete unused fields option removed.

[2016-07-16 14:52] #253 closed

[2016-07-16 14:52] tomchadwin commented on #280
Duplicate of #251

[2016-07-16 14:52] #280 closed

[2016-07-16 15:05] tomchadwin commented on #224
Done in master. Sorry,  @boesiii.

[2016-07-16 15:05] #224 closed

[2016-07-16 15:06] tomchadwin commented on #213
Closing with no feedback.

[2016-07-16 15:06] #213 closed

[2016-07-16 15:08] tomchadwin commented on #138
Done in master.

[2016-07-16 15:08] #138 closed

[2016-07-16 19:44] tomchadwin commented on #64
I believe this is a Qt bug. We can work around it with #296, so I'll close this.

[2016-07-16 19:44] #64 closed

[2016-07-16 19:45] tomchadwin commented on #296
Will work around #64.

[2016-07-16 19:46] tomchadwin commented on #20
I think I'll leave everything where it is. Minimal gain, and quite tricky to achieve.

[2016-07-16 19:46] #20 closed

[2016-07-16 19:50] tomchadwin commented on #74
I'm going to close this, as I believe everything in it is fixed apart from Leaflet rasters. That can have its own issue.

[2016-07-16 19:50] #74 closed

[2016-07-17 23:27] tomchadwin commented on #310
OK. Ditch the CSS approach. I need to look at the Leaflet API to see how to specify dimensions in the JS. Don't know if `max-` is supported.

[2016-07-18 09:39] tomchadwin opened #311 "OL3 address search"
Not working - don't know why.

[2016-07-18 09:45] tomchadwin commented on #311
Actually, I think it is working. Waiting for feedback.

[2016-07-18 18:21] philipjohnbarlow commented on #310
I wonder if what I have inside my pop-ups could be causing them to be created at a distance from their associated points?  I had a quick go with some more simple content at home and wasn't able to recreate the issue.  I'm on leave now for a week so I can't get my hands on the data to have another play around unfortunately.  In my data set I am using some webkit as well as html for the pop-up conte

[2016-07-19 08:46] tomchadwin commented on #311
No, this does work, but doesn't in the preview.

[2016-07-19 08:48] tomchadwin opened #312 "Geolocate should fire on button, not on map load"
Currently, "Geolocate user" tries to shift the map as soon as it loads. This should change to (or have the option of) a clickable button.

[2016-07-19 08:58] tomchadwin commented on #310
Yeah, I don't want to draw conclusions based on complex data that is less likely to be used very often. I'll leave it as is for the mo. Thanks for testing.

[2016-07-19 09:00] tomchadwin commented on #310
Yeah, scratch the CSS, and tweak the option in the `bindPopup` statement:

http://leafletjs.com/reference.html#popup-options

Some `min-` and `max-` options are available.

[2016-07-19 16:13] leoouma commented on #311
true, does't work in preview only.See attachment
![qgis2web](https://cloud.githubusercontent.com/assets/3404308/16957176/0e85601a-4de4-11e6-94d8-6c8b8079838c.gif)

[2016-07-19 16:25] tomchadwin opened #313 "Popup code duplicated in Leaflet WFS categorized/graduated lines/polygons"

[2016-07-19 16:36] tomchadwin opened #314 "WFS URLs wrong"
Only just spotted this, and don't know why the tests didn't fail. Hence don't know when the problem was introduced.

[2016-07-20 10:32] tomchadwin commented on #314
Asked question on dev list:

https://lists.osgeo.org/pipermail/qgis-developer/2016-July/043870.html

[2016-07-20 15:48] tomchadwin commented on #313
Fix committed to master. Please test.

[2016-07-20 15:48] #313 closed

[2016-07-20 15:48] tomchadwin commented on #314
Fix committed to master. Please test.

[2016-07-20 15:48] #314 closed

[2016-07-20 15:53] tomchadwin commented on #314
Released as 1.12.1 and pushed to QGIS plugins repo.

[2016-07-20 15:54] tomchadwin commented on #313
Released as 1.12.1 and pushed to QGIS plugins repo.

[2016-07-20 17:02] tomchadwin commented on #312
Leaflet committed to master. Please test.

[2016-07-21 15:41] tomchadwin commented on #312
OL3 committed to master. Please test.

[2016-07-21 15:41] #312 closed

[2016-07-22 10:20] tomchadwin commented on #310
I'm going to close this one on the assumption that all bets are off if custom HTML is used. Reopen if necessary.

[2016-07-22 10:20] #310 closed

[2016-07-22 10:21] tomchadwin commented on #295
If you wait without F5, does it eventually appear?

[2016-07-22 10:39] tomchadwin commented on #302
Or perhaps the best thing to do is to create a new field `qgis2web_label`, and populate it with the evaluated expression for each feature. I've been considering the same approach for popups for some time, but have never got round to implementing it.

[2016-07-22 11:20] tomchadwin commented on #309
@ebrelsford Are you still getting this crash? @m-kuhn Any idea if 2.16 has been repackaged to fix this? @jef-n?

[2016-07-22 11:23] jef-n commented on #309
Fix what?

[2016-07-22 11:29] tomchadwin commented on #309
See this issue (above), or this thread on the dev list:

https://lists.osgeo.org/pipermail/qgis-developer/2016-July/043733.html

Summary (maybe incorrect - I'm very much not an expert in this):
- Ubuntu 16.04 users get crashes in 2.16 with plugins which use QtWebKit
- @lucacasagrande has confirmed that the crash occurs when 2.16 is built `-DWITH_QTWEBKIT=OFF`
- Does a repackaged version need to be

[2016-07-22 11:59] jef-n commented on #309
s/occurs/does not occur/ ?

[2016-07-22 12:01] tomchadwin commented on #309
No, not occurring to @lucacasagrande, above:

"Yes with `-DWITH_QTWEBKIT=OFF` it crashes."
(https://github.com/tomchadwin/qgis2web/issues/309#issuecomment-232466637)

[2016-07-22 12:14] jef-n commented on #309
try the next debian-nightly, debian-nightly-release, ubuntugis-nightly or ubuntugis-nightly-release

[2016-07-22 12:15] tomchadwin commented on #309
@ebrelsford Can you do as @jef-n suggests and report back?

Thanks

[2016-07-22 12:56] tomchadwin commented on #309
And many thanks, @jef-n!

[2016-07-22 13:53] mkmdivy opened #315 "Inquiry of basemap of the satellite image"
Hi, I am using qgis2web very usefully, thank you very much. I have one question. Will it be possible to have a satellite map as a basemap for the further version? Is it difficult to have it because of copyright? I think it can be very useful to have satellite basemap.

Thanks

[2016-07-23 03:21] ebrelsford commented on #309
@tomchadwin @jef-n: installed `2.17.0-Master` from `debian-nightly` and the issue is still present. Same stacktrace as above.

[2016-07-23 06:43] JonnoFTW commented on #302
Is there no way to evaluate the user defined label through python?

[2016-07-25 19:16] tomchadwin commented on #309
Any ideas @m-kuhn, @akbargumbira, @jef-n?

[2016-07-25 19:23] tomchadwin commented on #302
That's what my suggestion is. However, since Python is not available in the browser, our only option is to preprocess each feature's label. Hope that makes sense.

[2016-07-25 19:30] tomchadwin commented on #315
There was a satellite/aerial basemap from MapQuest, but they recently withdrew it. If you can find a free tile server with imagery you would like, you can add it yourself by editing basemaps.py.

[2016-07-25 19:30] #315 closed

[2016-07-27 15:44] tomchadwin opened #316 "Leaflet doesn't sanitize field names"
It seems that OL3 does, so there should be a function for us to call...

[2016-07-28 13:30] tomchadwin commented on #316
Not as simple as that. OL3 manages this because it uses `feature.get()` with a quoted argument, so it handles special characters:

'''javascript
feature.get("% change")
[code]

Will have to investigate further.

[2016-07-28 14:29] tomchadwin commented on #316
All is well - Leaflet supports `['']` notation. Fixed in master. Please test.

[2016-07-28 14:29] #316 closed

[2016-07-28 16:28] tomchadwin commented on #316
Released as 1.13.1 and pushed to QGIS plugins repo.

[2016-08-01 14:00] curtains23 commented on #274
I have the same problem, is it resolved?

[2016-08-02 12:15] jnicho02 opened #317 "turn Leaflet (and OL?) scrollWheelZoom off by default"
One pain with embedded webmaps is that when scrolling down the screen the map zoom catches your scroll action. I've started turning it off by default.

map.scrollWheelZoom.disable();   in Leaflet, probably similar in OpenLayers

e.g. Steven Feldman's http://knowwhereconsulting.co.uk/blog/child-poverty-in-london/

[2016-08-10 14:38] dpsspatial opened #318 "Hard crash on Linux Mint 18 with QGIS 2.16"
Hi all,

On my machine at home and my machine at work both running Linux Mint 18 and QGIS 2.16, launching qgis2web from the 'web' menu causes a hard crash of QGIS - no error, just the application disappearing.

Can anyone else reproduce this?

Thanks!

-m

[2016-08-10 14:39] #318 closed

[2016-08-10 14:39] dpsspatial commented on #318
sorry just saw the other ticket - will post there.

[2016-08-10 14:40] dpsspatial commented on #309
Just to echo that I'm getting this crash on Linux Mint 18 with QGIS 2.16.

[2016-08-10 15:31] boesiii commented on #309
@dpsspatial Maybe something is wrong with the preview window.  What if you tried disabling the preview window?

[2016-08-10 15:33] dpsspatial commented on #309
@boesiii As soon as you launch the plugin QGIS crashes / disappears - you don't have the option to turn off the preview window. The thread above explains the crash.

[2016-08-10 15:49] boesiii commented on #309
If you know how to edit python code, open maindialog.py and comment out the code self.previewMap(), which should be line 65.

[2016-08-10 16:39] dpsspatial commented on #309
That does let the plugin load, but hitting the 'update preview' button causes QGIS to hang, then ultimately crash.

[2016-08-10 17:16] tomchadwin commented on #309
@dpsspatial Have you tried the latest QGIS nightly?

[2016-08-10 17:41] dpsspatial commented on #309
Just tried the Nightly build of upcoming point release (source: http://qgis.org/debian-nightly-release) and it still crashes. Should I try the 2.17 nightly build?

[2016-08-10 17:51] dpsspatial commented on #309
OK on the 2.17 nightly repository / install qgis2web seems to be working just fine!

[2016-08-10 17:55] boesiii commented on #309
@tomchadwin Not sure what the preview window is expecting (qtwebkit) but should you add some check to see if it is installed.  If it is not present then disable the preview window and update button

[2016-08-10 18:01] ebrelsford commented on #309
Can confirm that 2.17 nightly works for me!

[2016-08-11 19:43] riadhamoudi commented on #276
Do you know how I make search on specific field ? where I can change the parameter.

[2016-08-15 10:17] tomchadwin commented on #317
I don't think I want to change the default behaviour of the libraries, to be honest. If people start to scream about it, we can add an option, I guess.

[2016-08-15 10:17] #317 closed

[2016-08-15 10:22] tomchadwin commented on #309
Glad that the dev branch has this fixed, but I don't know what to do in the meantime. I've no idea how to detect QtWebKit, or even whether that will work, or whether the issue is that it is present, but not working.

I guess the brute force approach is to disable the preview on plugin load, and disable the preview button on QGIS 2.16 on affected OSes.

Anyone know how to detect Ubuntu 16 (and Mint

[2016-08-15 13:50] lucacasagrande commented on #309
I can take a look at this issue during this week.

[2016-08-15 13:52] tomchadwin commented on #309
Thanks, @lucacasagrande!

[2016-08-15 18:16] boesiii opened #319 "Leaflet labels don't like attributes starting with numbers"
I have a shapefile which has a attribute that starts with a number "4test" and I was using it as a label in Qgis.  When I tried to export it to Leaflet using q2w the resulting webpage gave me an error "Uncaught Error: Invalid or unexpected token index.html line 86".  When using OL3 I have no problems.

Line 86
`return L.circleMarker(latlng, doStyleairportstest20()).bindLabel((feature.properties.4t

[2016-08-16 08:54] tomchadwin commented on #319
Good catch. I need to move from dot notation to brackets. Let me try to sort a fix.

[2016-08-16 09:32] tomchadwin commented on #319
Possible fix committed to master - please test and let me know.

[2016-08-16 09:39] tomchadwin commented on #319
Tested locally, and works for me, so closing - let me know of any problems.

[2016-08-16 09:39] #319 closed

[2016-08-16 09:40] tomchadwin opened #320 "Remove scale bar option from GUI"
Instead, include the scalebar if it's enabled in QGIS.

[2016-08-16 09:41] tomchadwin commented on #274
Not resolved yet, no. Can you confirm that the issue is specifically when you have a layer in which some features have geometry, and some do not?

[2016-08-16 09:46] curtains23 commented on #274
Yes! Some lack geometry.

Den tis 16 aug. 2016 11:42Tom Chadwin <notifications@github.com> skrev:

[2016-08-16 12:06] boesiii commented on #319
It worked!  Thanks.

[2016-08-16 12:14] boesiii opened #321 "Remove popup fields if they are hidden in Qgis"
If a field is hidden in Qgis then the popup label option should also be hidden.

[2016-08-16 12:43] tomchadwin commented on #321
Yes.

[2016-08-16 12:59] tomchadwin commented on #321
Fix committed to master. Please test.

[2016-08-16 12:59] #321 closed

[2016-08-16 13:26] boesiii commented on #321
Works!  Thanks!

[2016-08-16 15:18] boesiii commented on #293
@tomchadwin
Was this ever brought in to master, because i am still seeing incorrect symbols for my points?

[2016-08-16 19:36] gisgisgis commented on #133
Was wondering how I can customise it for selecting a layer for popup, instead of using popup on all the layers on the map?
And would it be possible for to choose a different set of attributes on  mouse-hover (and not the ones that appear on pop-up)?
Thanks

[2016-08-16 19:54] tomchadwin commented on #293
Not SVG simple marker layers, no. SVG layers should work, though.

[2016-08-19 10:30] peter-shr opened #322 "qgis2web does not work under W10 and QGIS 2.12 -16"
qgis2web 1.13.1, Windows 10, for QGIS 2.12, 2.14, 2.16
Neither OpenLayers or Leaflet Web maps are created.
Output data are shapefiles.
When clicking on 'Update preview'
**Error**
qgis2web produced an error:
Traceback (most recent call last):
File "C:/Users/..../.qgis2/python/plugins\qgis2web\maindialog.py", line 134, in previewMap
MainDialog.previewLeaflet(self)
File "C:/Users/..../.qgis2/python/p

[2016-08-19 10:38] tomchadwin commented on #322
Duplicate of https://github.com/tomchadwin/qgis2web/issues/274.

[2016-08-19 10:38] #322 closed

[2016-08-19 10:51] magerlin opened #323 "Storing selected popup fields in project file"
The selection of popup fields (no label/inline label/header label) is not stored in project file.

So every time I open qgis2web I must reselect it - quite tedious with 4 layers with each 15 fields...

[2016-08-19 11:08] peter-shr commented on #322
Sorry, my search was probably not intense enough.
Will it then try and create geometryen.
Peter

    Tom Chadwin <notifications@github.com> schrieb am 12:38 Freitag, 19.August 2016:

 Duplicate of #274.—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-08-19 11:25] magerlin opened #324 "Question about CSS"
I cannot figure out where in the CSS for leaflet map these attributes are defined:
* Font size and colour for map labels (used to be labels.css but that is apparently changed)
* Width of popup  - they used to be wider, I think they are to narrow now, especially if you add some meaningful aliases:

![screenshot 2016-08-19 13 21 44](https://cloud.githubusercontent.com/assets/1887531/17808374/3a2320e

[2016-08-19 11:36] tomchadwin commented on #323
Correct - the old popups settings were stored, but since I redid it all, that functionality is lost. It needs to be recreated. This was mentioned somewhere else by another user, but I can't find that comment, so let this issue stand.

[2016-08-19 11:42] tomchadwin commented on #324
For labels, it is css/label.css - does that not work for you?

For popups, edit index.html, according to this:

http://leafletjs.com/reference.html#popup

Use the settings in the `Options` section, such as `minWidth`.

[2016-08-19 12:28] tomchadwin commented on #274
Fix committed to master. Please test.

[2016-08-19 12:28] #274 closed

[2016-08-19 12:29] tomchadwin commented on #322
Fix committed to master. Please test.

[2016-08-19 12:50] magerlin commented on #324
Earlier I have edited the font size in this part of label.css but it has no effect now?:

`.leaflet-label {
	font: 10px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
}`

Regarding the widt of popup windows I have succeeded in setting a fixed width by editing qgis2web.css from this:
`.leaflet-popup-content {
    width:auto !important;
}`
to this:
`.leaflet-popup-content {
    width:200px;
}`

[2016-08-19 12:53] tomchadwin commented on #324
Use your browser dev tools (F12, also availabl in qgis2web preview) to investigate which CSS declarations are overriding which others.

[2016-08-19 13:16] magerlin commented on #324
Popup window width can also be set in qgis2web.css adding a minimum width like this:
`.leaflet-popup-content {
    width:auto !important;
/*Set minimum width of popup window: */
    min-width: 300px;
}`

[2016-08-19 13:32] magerlin commented on #324
Regarding the font CSS I just realized there is no longer any need for this!

The produced map from Qgis2web now matches my font selection in Qgis - bravo!

[2016-08-19 13:32] #324 closed

[2016-08-19 13:50] tomchadwin commented on #324
Ha! Why on earth didn't I think of mentioning that? Thank you!

[2016-08-19 13:53] magerlin opened #325 "Leaflet maps: Popups cannot be avoided?"
If "No label" is selected for **all** popup fields for a layer the result is that **all fields** are shown but with no field headers:

![screenshot 2016-08-19 15 49 58](https://cloud.githubusercontent.com/assets/1887531/17811842/d11c80ec-6624-11e6-9aec-fe318cf06696.png)

[2016-08-19 13:54] tomchadwin commented on #324
*Note*: the font file is not exported (for many reasons), so if your map is viewed online, or on someone else's machine, they will only get the font you specified in QGIS if they have that font installed.

[2016-08-19 13:55] tomchadwin commented on #325
Correct. Presume OL3 as well. Not sure how to sort this in the GUI.

[2016-08-19 14:03] magerlin commented on #325
It is not possible to completely toggle popups off for a layer?

[2016-08-19 14:04] tomchadwin commented on #325
In a word, no. And there needs to be.

[2016-08-19 14:04] tomchadwin commented on #325
Although what happens if all fields are set to Hidden in QGIS?

[2016-08-19 14:09] tomchadwin commented on #325
I think that works in OL3, but throws an error in Leaflet. Do you confirm?

[2016-08-19 14:23] magerlin commented on #325
I can hide all fields in my layer and get no popup with no errors in Leaflet too.

But in my actual example I am using a field for classification of roads and if I hide this it seems like Qgis2web understands this as I am having only missing values and create a map with "spooky looking" semi transparent roads instead:

![screenshot 2016-08-19 16 19 15](https://cloud.githubusercontent.com/assets/18

[2016-08-19 14:28] tomchadwin commented on #325
Ugh. You're right. Labels and categorized/graduated renders rely on fields, but hiding them in QGIS stops them being exported to JSON.

Time for a rethink. *Sigh*.

[2016-08-19 14:40] tomchadwin commented on #325
I think this issue existed before my recent commits. Can you confirm that you get your "spooky looking" effect in qgis2web 1.13.1, not just in master?

[2016-08-19 14:43] magerlin commented on #325
Yes, I am working in version 1.13.1. The "spooky looking" effect has "always" been there for features with missing values for classification or labels.

[2016-08-19 14:45] tomchadwin commented on #325
OK, so I can go ahead and release recent changes without causing a reversion. Still have to work out a fix for this, though.

[2016-08-19 14:47] tomchadwin opened #326 "Hidden fields not available as labels or categorization/graduation fields"
This is a serious bug, uncovered by @magerlin, which will require some thought to solve. I don't know how to yet.

[2016-08-19 14:47] tomchadwin commented on #325
This issue logged as #326

[2016-08-19 14:48] tomchadwin commented on #325
Can you confirm that the initial issue (ability to get rid of popups for a layer) is solved, though?

[2016-08-19 14:50] magerlin commented on #325
Well sort of....

In my example I have 72 fields I have to mark as hidden one by one.

If possible I would much prefer a simple toggle......

[2016-08-19 14:51] tomchadwin commented on #325
I'm reluctant to do that - the philosphy behind the plugin has always been not to duplicate QGIS functionality, and be as lightweight as possible.

[2016-08-19 14:55] magerlin commented on #325
Well I see your point.
On the other hand when I am working with my data in Qgis I like to be able to see all the data during the map production - also those being irrelevant to the final viewer (the final maps are not going to be too complicated).

[2016-08-19 14:56] tomchadwin commented on #325
Accepted. It's a difficult line to tread. But qgis2web is meant to reproduce your QGIS project. If the data is not hidden there, it shouldn't be hidden in the webmap.

[2016-08-19 14:59] magerlin commented on #325
I can follow your principle - in many situations a complete replica of the Qgis map is what is wanted.

So let conclude this issue is solved.

[2016-08-19 14:59] #325 closed

[2016-08-19 15:01] tomchadwin commented on #326
Possible vague solutions:

1. Identify hidden fields required for labels or styles (I don't know how), and incorporate them with a namespacing prefix of `qgis2web_` or `q2wHide_`, then only add fields to the popup which don't have that prefix

2. Use the approach implemented for the OL3 images and aliases suggested by @ThomasG77 which could be cleaner, but I don't know if it will port to Leaflet (

[2016-08-19 15:03] tomchadwin commented on #325
Many thanks. On to #326...

[2016-08-19 15:07] boesiii commented on #325
@magerlin
You may want to look at the link below.  It talks about using python to turn multiple fields to hidden.  I have been meaning to try it becasue I have run into the same issue as you with many fields needing marked as "hidden".
http://gis.stackexchange.com/questions/190843/how-to-hide-more-than-one-qgis-attribute-field-at-a-time

[2016-08-19 16:08] magerlin commented on #325
I just realized one more negative implication of the "always popup feature". Layers where you have avoided popups by hiding the fields in Qgis still in Leaflet seems to be regarded as having popups and they are showing wrong cursor type and they are blocking popups from underlying layers.

In the actual map I am working with ([http://byogtrafik.ramboll.dk/Dubrovnik/model_input/road_network/traffic

[2016-08-19 16:13] tomchadwin commented on #325
Don't apologize. I had also noticed the cursor issue, and didn't like it from a UX point of view, but hadn't thought of the issue of blocking other stacked layer popups. Needs further investigation. It's as though a null popup is bound when there are only hidden fields, instead of no popup at all.

Yes, layer stacking order is a longstanding Leaflet issue. Should be fixed once Leaflet 1.0 is out,

[2016-08-19 16:52] tomchadwin commented on #326
Leaflet behavious possibly fixed in master - please test:

- labelling with hidden field
- categorizing on hidden field
- graduating on hidden field

OL3 still to do - that's for next week.

[2016-08-19 16:57] magerlin commented on #325
Thanks to boesiii for the Python link.

Hopefully the QGis gui at sometime will be extended to more easily handle changes to several fields at a time....

Or perhaps someone with Python knowledge could make a plugin of the Python code?

[2016-08-20 07:42] #320 closed

[2016-08-20 07:46] tomchadwin commented on #133
Your first question is what this issue seeks to do, but it's not been done yet. I don't think your second request is likely to be developed, as I can't imagine people needing it very often. You'd have to edit the output code manually.

[2016-08-20 09:17] akbargumbira commented on #309
@tomchadwin @lucacasagrande did you find a workaround for this? I found out that even if I compiled QGIS without QtWebKit, I could still import QWebView and other packages from QtWebKit. QGIS crashes when it's calling the methods (e.g QWebView.setHtml()), the method itself exists. So I am not sure how to handle this within the python plugin. Let me know if you found a fix for this!

[2016-08-20 10:28] tomchadwin commented on #309
@akbargumbira I haven't found a solution, no. I'm also unclear at best and concerned at worst as to what this means for all Webkit plugins on Xenial. Isn't this a major QGIS regression?

[2016-08-22 10:48] tomchadwin commented on #326
Fix committed to master. Please test.

[2016-08-22 10:48] #326 closed

[2016-08-22 15:14] tomchadwin commented on #323
Update: this is harder than I thought. Before, there was just a single popup drop-down per layer, but now there is one per field, so it's a fundamental change. QGIS has layer vrs, but not field vars (I presume). Wrangling an unknown number of drop-downs per layer into layer variables is proving confusing. No prototype to test yet.

[2016-08-23 11:27] tomchadwin commented on #323
Fix committed to master. Please test.

[2016-08-23 11:27] #323 closed

[2016-08-23 11:28] tomchadwin commented on #323
Please can you let me know whether this works for you?

[2016-08-23 12:35] boesiii commented on #323
The layers are saving the popup fields but my settings (layer list, measure, etc) are not being stored.  Will Q2W remember my settings if I close Qgis and reopen a project?

[2016-08-23 13:44] tomchadwin commented on #323
@boesiii Looking into it now.

[2016-08-23 13:48] boesiii commented on #323
It is also not saving the which library is used, OL3 or LF.

[2016-08-23 13:57] tomchadwin commented on #323
Can't remembered if that was ever implemented - not too worried, as it's simple for people to switch. The other settings are a concern, though. As far as I can see, they are being saved in the project file. I guess that means they are failing to load. Still investigating.

[2016-08-23 14:19] boesiii commented on #323
I can see the settings in the qgis file but yes they are not being loaded.

[2016-08-23 15:04] tomchadwin commented on #323
Will open a new issue for this.

[2016-08-23 15:09] tomchadwin opened #327 "Boolean project settings being overwritten"
Behaviour not fully diagnosed yet. Please try the following, and confirm what happens for you:

1. Open some simple data in QGIS
2. Start qgis2web
3. Check the `Minify GeoJSON files` option
4. Close qgis2web
5. Open qgis2web
6. **Confirm that `Minify GeoJSON files` is still checked**
7. Close qgis2web
8. Save your project
9. Open another unrelated project
10. Reopen the first project
11. Start qgi

[2016-08-23 15:10] tomchadwin commented on #326
Released as 1.14.0 and pushed to QGIS plugins repo.

[2016-08-23 15:11] tomchadwin commented on #323
New issue opened #327

[2016-08-23 15:11] tomchadwin commented on #323
Released as 1.14.0 and pushed to QGIS plugins repo.

[2016-08-23 15:11] tomchadwin commented on #321
Released as 1.14.0 and pushed to QGIS plugins repo.

[2016-08-23 15:11] tomchadwin commented on #320
Released as 1.14.0 and pushed to QGIS plugins repo.

[2016-08-23 15:12] tomchadwin commented on #319
Released as 1.14.0 and pushed to QGIS plugins repo.

[2016-08-23 15:12] tomchadwin commented on #274
Released as 1.14.0 and pushed to QGIS plugins repo.

[2016-08-23 15:36] boesiii commented on #327
I notice the same behavior even if I ignore #9 BUT it does remember my basemap setting of OSM.

[2016-08-23 15:37] tomchadwin commented on #327
Something's definitely afoot...

[2016-08-23 15:51] tomchadwin commented on #327
How about dropdowns? Are they behaving correctly? In other words, does this bug only affect checkboxes?

[2016-08-23 16:02] boesiii commented on #327
The precision setting was able to be restored when the project is opened again.

I wonder if it has something to do when the preview gets initialized

[2016-08-23 16:27] tomchadwin commented on #327
No, I think it's to do with how booleans are stored and compared. I've asked a question on the dev list, as I still don't understand what's going wrong. I thought this worked before.

[2016-08-23 18:30] boesiii commented on #327
In the qgis file there is
`<Addlayerslist type="int">1</Addlayerslist>`

Why does it say "int"?  Shouldnt it say something like "bool"?

[2016-08-24 04:39] robinpaulson commented on #309
Hi folks, a note to let you know this problem is also happening in at least the [quickosm](https://github.com/3liz/QuickOSM/issues/84) plugin

[2016-08-24 10:51] tomchadwin commented on #327
Another question: do the per-layer checkbox settings save correctly - visible, cluster, etc?

[2016-08-24 11:11] magerlin commented on #326
Test: It works ok

[2016-08-24 16:20] tomchadwin commented on #309
@robinpaulson Thanks. Others too:

https://lists.osgeo.org/pipermail/qgis-developer/2016-August/044173.html

[2016-08-24 16:59] tomchadwin commented on #327
THIS IS DRIVING ME CRAZY. I CAN'T FIGURE OUT WHAT ON EARTH IS GOING WRONG AAAAAAAAAAAAAAAAAAAAAAAAA

[2016-08-24 17:00] tomchadwin commented on #326
Great - thanks for testing.

[2016-08-24 17:05] tomchadwin commented on #327
No, wait, the boolean thing looks like it's a red herring. I don't think *any* settings are saving. They save within a session, but if you open a different project, and then reopen the one where you have made the qgis2web changes, nothing is remembered - layer settings, config settings, checkboxes, dropdowns.

Can anyone confirm? This is on my local copy where I have been hacking around wildly to

[2016-08-24 17:30] tomchadwin commented on #327
Might have cracked it. Here's the theory:

1. You can write project settings with spaces in the setting name
2. Until you close the project, you can read them by calling the setting name with the spaces in it
3. Once you've closed and reopened the project, all spaces are stripped from the setting name
4. Therefore, then reading by setting name with spaces fails

Need to confirm, but it's looking g

[2016-08-24 19:09] boesiii commented on #327
I think the settings were being saved.  Atleast I can see them in the qgis file.

[2016-08-24 23:50] warty123 opened #328 "error icon svg with diffrent category leaflet"
Error

qgis2web produced an error:

Traceback (most recent call last):
File "C:/Users/Dell/.qgis2/python/plugins\qgis2web\maindialog.py", line 133, in previewMap
MainDialog.previewLeaflet(self)
File "C:/Users/Dell/.qgis2/python/plugins\qgis2web\maindialog.py", line 301, in previewLeaflet
visible, cluster, json, params, popup)
File "C:/Users/Dell/.qgis2/python/plugins\qgis2web\leafletWriter.py", li

[2016-08-25 10:03] tomchadwin commented on #327
Fix committed to master. Please test and report back. **Note**: this might well not work with existing projects (it might), so you might have to reset your options again (apologies) - let me know.

[2016-08-25 10:09] #327 closed

[2016-08-25 10:49] tomchadwin commented on #328
So you are doing the following:

- categorized symbology
- SVG marker symbol
- Leaflet format

?

[2016-08-25 10:51] tomchadwin commented on #328
If so, confirmed.

[2016-08-25 13:28] boesiii commented on #327
Works for me.  Thanks.

[2016-08-25 13:55] tomchadwin commented on #327
Thanks for testing.

[2016-08-25 15:05] shanmugamg opened #329 "QGIS 2.16.1 crashes when loading up qgis2web on Ubuntu 16.04 LTS"
Obsolete,

Same as
https://github.com/tomchadwin/qgis2web/issues/309

[2016-08-27 06:54] #329 closed

[2016-08-30 07:25] peter-shr commented on #322
Hello,
Was until now replies, version 1.14.0 works fine.
regards Peter

[2016-08-31 13:22] magerlin opened #330 "Newly arrived problem with user defined projections"
Until now I have had had no problem creating Leaflet maps from shape files in a user defined projection (they are output from another application).

Since last update of Qgis2web (I think...) these layers are completely missing from produced OL3 and Leaflet maps.

Just after clicking the Qgis2web menu point I get an error "Crs was undefined":
![screenshot 2016-08-31 15 07 04](https://cloud.githubu

[2016-08-31 20:29] boesiii commented on #294
When a query is performed and it finds a feature it adds a pink circle around the found feature.  There is no way to clear the pink circle unless you perform a different query and therefore the pink circle moves.  Is that what you area talking about?

[2016-08-31 20:35] boesiii commented on #294
Assuming I could get this to function correctly.  How would you expect this to work in the q2w GUI?  Would it be in the layer list?  Would the query tool have it's own area?

[2016-09-03 21:51] tomchadwin commented on #330
All I can say immediately is that that is a  QGIS error, not a qgis2web one.

[2016-09-03 21:56] tomchadwin commented on #294
Yes, that's the style reset issue I had. Of that were fixed, we should definitely look at incorporating it.

As for the GUI, I'm not immediately sure without more thought as to how it should work. A new setting in the bottom-left pane  with a dropdown of the layers, and a second dropdown which auto-populates with the selected layer's fields would be one way to do it. That would limit the search to

[2016-09-05 16:12] tomchadwin commented on #330
I'm going to leave this to GIS people, as I just don't know enough about projections to figure this out. When I run it in 2.16.2, I get the QGIS CRS dialog popping up, and if I accept what it suggests, qgis2web works. I've not had any joy in getting any further, since I can't get either your proj text in the post above, or that in the .PRJ file to convert to something which QGIS recognizes.

Sorry

[2016-09-06 05:20] tomchadwin commented on #309
A possible manual solution from @tudorbarascu is at https://blog.qtibia.ro/2016/06/21/build-python-qt4-on-debian-testing/. Can anyone test and report back? I'm on Trusty myself.

[2016-09-06 12:42] boesiii commented on #330
What projection is your data? What EPSG code?

[2016-09-06 12:43] boesiii commented on #330
Have you teid creating a QPJ file so that Qgis can read your projection?

[2016-09-06 15:08] dpsspatial commented on #309
If this does indeed work, does it present a fix for future versions on Debian? There's a lot of stuff in that fix that I try to stay away from performing as 'solution'...but I might have some time later on to test... if you want to run a quick and easy test machine, I recommend using VirtualBox and a new version of Linux Mint to get up with a new Debian flavour...

[2016-09-06 15:35] tomchadwin commented on #309
No, I wouldn't call it a fix, which is why I chose the phrase "manual solution". It is way beyond what I would expect a normal user to have to do. Maybe more Linux users are happy with this kind of approach, but I doubt it.

There is no short-term fix. QWebKit, or whatever it is, has been dropped by Qt4 with no real replacement, and now Debian testing and Ubuntu Wily have dropped older Qt versions

[2016-09-06 15:44] dpsspatial commented on #309
Yikes... what a bummer! I wonder if this has affected folks in other communities beyond QGIS?

[2016-09-06 15:58] tudorbarascu commented on #309
@tomchadwin I can test under debian stretch. as I'm no gis2web what do I need to look for? I simply opened the Export to webmap window and it worked.

You can also test yourself under debian stretch by downloading a vbox image that's built for the qgep and qwat projects (qgis included) at http://docs.qtibia.ro/qgis.vdi.xz More info at https://qgep.github.io/docs/vm/index.html You can just test on

[2016-09-06 18:31] tomchadwin commented on #309
@tudorbarascu If the plugin starts without QGIS crashing, it works. The preview pane is the Webkit component, and it is loaded immediately when the plugin loads.

So are you saying you tested successfully with the steps you documented, or without? For completeness, you could test without as well to confirm you get the crash.

[2016-09-07 07:37] tudorbarascu commented on #309
With the documented steps it's working fine. It's not working in their absence (just tested on another debian stretch system).

[2016-09-07 10:49] tomchadwin commented on #309
I have to apologize to the QGIS devs, and especially to @jef-n, for my pessimism above. Juergen has committed internal python QtWebKit bindings to the master_2 branch:

https://lists.osgeo.org/pipermail/qgis-developer/2016-September/044472.html

Can those of you experiencing the issue try the appropriate nightly tomorrow and report back?

[2016-09-07 16:51] tomchadwin commented on #328
Partial fix committed to master. This no longer crashes, but it also doesn't use the SVG symbol. Please at least let me know if the crash is gone.

[2016-09-07 16:59] tomchadwin opened #332 "Refactor Leaflet point code to dedupe and allow marker types in categorized/graduated renders"
The OL3 code drills down intelligently, and ends up using the same functions to retrieve point styles regardless of whether the points are in single symbol, categorized, or graduated renderers. This means that, for example, SVG markers are correctly exported when used in cat/grad renders (#328).

The Leaflet code doesn't do this - it only looks for SVGs (for example) in single symbol renderers (I

[2016-09-07 21:53] robinpaulson commented on #309
For those of us not using nightly builds, would it be possible to build a PPA of pyqt4/webkit in Launchpad and install that with QGIS 2.16.2? Would that solve the problem?

[2016-09-07 23:10] tomchadwin commented on #309
Not your Linux guy, so:

- no idea how to do that
- no idea of it would work

Inclined to think that building, as per @tudorbarascu's instructions, would be as easy. Unless you mean that there should be a single public PPA, rather than users each having to build their own. If so, I don't think enough users are affected to merit this. I certainly wouldn't be prepared to host it myself.

[2016-09-08 06:34] magerlin commented on #330
I recieve the shp file from another application also delivering the .prj file. When I open it in Qgis it says USER:105000 in the bottom right corner where the EPSG code usually is.

QGIS describes this projection as:
+proj=merc +lon_0=0 +lat_ts=0 +x_0=0 +y_0=0 +a=6371000 +b=6371000 +units=m +no_defs.

It works fine in Qgis and it has worked without problems in also in Qgis2web until recently.

How

[2016-09-08 10:42] robinpaulson commented on #309
Yes, the idea was to remove all users having to do it. I guess a further question is: are there problems with qgis itself that would require the rebuild of that, or is it purely a problem of the missing qtwebkit dependency?

[2016-09-08 10:45] tudorbarascu commented on #309
No rebuild required. Purely missing qtwebkit python bindings.

[2016-09-08 10:45] tomchadwin commented on #309
Just Webkit, I think (and another Qt bug which has surfaced). It affects multiple plugins, though, plus also perhaps the plugin manager and the composer. Do either of those give you issues?

[2016-09-08 10:47] tomchadwin commented on #309
@tudorbarascu Apologies - I did not read your instructions closely enough - you are building the bindings, I see now, yes, not QGIS. I still think that's a pretty high barrier for less technical GIS users.

[2016-09-08 11:23] robinpaulson commented on #309
From here:
http://packages.ubuntu.com/xenial/amd64/python-qt4/filelist
I see this:
/usr/lib/python2.7/dist-packages/PyQt4/QtWebKit.so

Which is installed on my Ubuntu Xenial system. This looks to me like a qt webkit binding for python 2.7

I don't understand.

[2016-09-08 11:42] tudorbarascu commented on #309
I don't have those in Debian Stretch. Can you double check by doing ``dpkg -L python-qt4``?

[2016-09-08 11:45] robinpaulson commented on #309
Yup, it's there:

/.
/usr
/usr/share
/usr/share/doc
/usr/share/doc/python-qt4
/usr/share/doc/python-qt4/THANKS
/usr/share/doc/python-qt4/copyright
/usr/share/doc/python-qt4/changelog.Debian.gz
/usr/lib
/usr/lib/python2.7
/usr/lib/python2.7/dist-packages
/usr/lib/python2.7/dist-packages/PyQt4
/usr/lib/python2.7/dist-packages/PyQt4/QtXml.so
/usr/lib/python2.7/dist-packages/PyQt4/QtHelp.so
/usr/lib/p

[2016-09-08 11:51] robinpaulson commented on #309
Huh, it's not here:
https://packages.debian.org/stretch/amd64/python-qt4/filelist

[2016-09-08 11:55] robinpaulson commented on #309
I wonder if this is related to header files at build time. If python-qt4-dev (or whatever the package is) doesn't have a .h file for pyqt4 webkit, QGIs won't be built for it. If QGIS is built on Stretch, then no matter whether the library is there or not (as in Ubuntu Xenial), QGIS won't reference it.